*.pyc
.sass-cache/
logs/
test/logs/*
mongodb
server/static/sitemap.txt
server/static/css/
server/static/js_prod/
server/static/schedules
server/Gemfile.lock
shared_data/
dump.rdb
secrets.py
dump/*
node_modules/
.vagrant/

# Ignore daily generated exam files
data/exam_schedules/uw_exams_*

# Ignore generated opendata section dumps
data/departments/*.json
data/opendata_sections/*.json
data/opendata2_courses/*.json

# Ignore generated js files
server/static/js/scholarship.js
server/static/js/.module-cache/
