SHELL=/bin/sh

MAILTO=redccnt@gmail.com,duan.mack@gmail.com,davidhu91@gmail.com,jiayisandywu@gmail.com

# Aggregate ratings, mutual courses, etc...
0 7 * * * PYTHONPATH=/home/rmc python /home/rmc/rmc/data/aggregator.py all
0 3 * * * PYTHONPATH=/home/rmc python /home/rmc/rmc/emails/sender.py -f welcome
