# Crontab syntax (because I always forget):
# *     *     *   *    *        command to be executed
# -     -     -   -    -
# |     |     |   |    |
# |     |     |   |    +----- day of week (0 - 6) (Sunday=0)
# |     |     |   +------- month (1 - 12)
# |     |     +--------- day of        month (1 - 31)
# |     +----------- hour (0 - 23)
# +------------- min (0 - 59)

# Also note that all times are in UTC

SHELL=/bin/sh
PATH=/home/rmc/.virtualenvs/rmc/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games

MAILTO=devs@uwflow.com

# Daily: Aggregate ratings, mutual courses, etc...
42 7 * * * PYTHONPATH=/home/rmc python /home/rmc/rmc/data/aggregator.py daily

# Daily: Download new SSL certificates, and restart nginx if new ones downloaded
28 7 * * * sudo /home/rmc/rmc/aws_setup/sslmate_download.sh

# Weekly: Update local time (amazon ses complains if time is too far off when sending emails)
13 0 * * 0 sudo /usr/sbin/ntpdate pool.ntp.org > /dev/null

# Daily: Send welcome emails
22 3 * * * PYTHONPATH=/home/rmc python /home/rmc/rmc/emails/sender.py -f welcome

# Hourly: Update sections information (which includes enrollment data)
5 * * * * PYTHONPATH=/home/rmc python /home/rmc/rmc/data/aggregator.py sections > /dev/null

# Weekly: Update the HTML snapshots that we serve to Googlebot
0 22 * * 3 (cd /home/rmc/rmc && make update_html_snapshots)

# Weekly:
17 23 * * 0 PYTHONPATH=/home/rmc python /home/rmc/rmc/data/aggregator.py courses
