{% extends 'base_page.html' %}

{% import 'macros.html' as macros %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ '/static/css/about_page.css'|version }}">
{% endblock %}

{% block page_title %}About{% endblock %}

{% macro about_blurb(pic_url) -%}
<div class="row-fluid bio-row">
  <div class="card-img span3">
    <img class="img-polaroid" src="{{ pic_url }}">
  </div>
  <div class="card-info span9">
    {{ caller() }}
  </div>
</div>
{%- endmacro %}

{% block body %}
<div id="about-container">
  <div class="row-fluid team-intro">
    <div class="span12">
      <h1>We're a team of students</h1>
      <p class="lead">
        ...at the University of Waterloo trying to change how students discover,
        track and plan their courses online. We're aiming to create a social
        platform where students and their friends can share and obtain credible
        course information that will help them better prepare for each year of
        their university careers.
      </p>
    </div>
  </div>

  {% call about_blurb('/static/img/team/david.jpg') %}
    <h2 class="name">David Hu</h2>
    <div class="program">3B Software Engineering</div>
    <p class="links">
      <a class="link" target="_blank" href="http://david-hu.com">
        <i class="icon-globe"></i> Blog
      </a>
      <a class="link" target="_blank" href="http://twitter.com/divad_12">
        <i class="icon-twitter"></i> Twitter
      </a>
    </p>
    <p>
      David is a human being currently living on Earth.
    </p>
    <p>
      Since David complains a lot about bad user experience, he's the
      chief UX nitpicker at Flow. He also does system administration and
      takes out the garbage.
    </p>
    <p>
      David has worked at Google for two terms and then at Khan Academy
      for two terms.
    </p>
  {% endcall %}

  {% call about_blurb('/static/img/team/mack.jpg') %}
    <h2 class="name">Mack Duan</h2>
    <div class="program">3B Software Engineering</div>
    <p class="links">
      <a class="link" target="_blank" href="http://mduan.com/resume">
        <i class="icon-globe"></i> Website
      </a>
    </p>
    <p>
      Mack Duan is a Software Engineering student helping with the
      software development of Flow.
    </p>
    <p>
      He really enjoys eating spicy food. In his free time, he likes to
      watch TV, movies and play cards.
    </p>
    <p>
      Mack has worked two terms at Facebook, and at a startup in
      San Francisco.
    </p>
  {% endcall %}

  {% call about_blurb('/static/img/team/sandy.jpg') %}
    <h2 class="name">Sandy Wu</h2>
    <div class="program">3B Software Engineering</div>
    <p class="links">
      <a class="link" target="_blank" href="https://twitter.com/hungryCake">
        <i class="icon-twitter"></i> Twitter
      </a>
    </p>
    <p>
      Being a Software Engineering student, Sandy Wu is a hacker on the
      Flow team.
    </p>
    <p>
      During his spare time he partakes in parkour and especially enjoys noming
      lots of delicious food.
    </p>
    <p>
      During his co-op terms at Bloomberg and Facebook he tried
      (unsuccessfully) to eat everything he saw.
    </p>
  {% endcall %}

  {% call about_blurb('/static/img/team/terrance.jpg') %}
    <h2 class="name">Terrance Kwok</h2>
    <div class="program">4B Accounting and Finance</div>
    <p class="links">
      <a class="link" target="_blank" href="http://twitter.com/terrancekwok">
        <i class="icon-twitter"></i> Twitter
      </a>
      <a class="link" target="_blank" href="http://www.linkedin.com/in/terrancekwok">
        <i class="icon-linkedin"></i> LinkedIn
      </a>
    </p>
    <p>
      Terrance Kwok suffers from exercise induced asthma, but enjoys Indian food
    </p>
    <p>
      He finds pleasure in the occasional IPA beer and as such, Terrance
      handles the business development side of Flow.
    </p>
    <p>
      Terrance has worked at KPMG and is currently pursuing an career in
      accounting and finance (seriously).
    </p>
  {% endcall %}

  {% call about_blurb('/static/img/team/shubham.jpg') %}
    <h2 class="name">Shubham Datta</h2>
    <div class="program">4B Accounting and Finance</div>
    <p class="links">
      <a class="link" target="_blank" href="http://twitter.com/shubhamdatta">
        <i class="icon-twitter"></i> Twitter
      </a>
      <a class="link" target="_blank" href="http://www.linkedin.com/in/shubhamdatta">
        <i class="icon-linkedin"></i> LinkedIn
      </a>
    </p>
    <p>
      Shubham Datta wakes up each day with a mission to stop
      procrastinating tomorrow.
    </p>
    <p>
      He enjoys meeting and talking to new people everyday, and so he
      takes care of the business development side of Flow.
    </p>
    <p>
      Shubham has worked at KPMG and is currently pursuing a career in
      accounting and finance.
    </p>
  {% endcall %}

  <h1 class="sponsors-heading">Thank you sponsors</h1>
  <div class="row-fluid">
    <div class="span3">
      <img src="/static/img/afsa_clear_red.png" height="300">
    </div>
    <div class="span9 sponsor-description">
      The Accounting and Financial Student Association of the University of
      Waterloo generously donated in support of the continued maintenance,
      development, and growth of Flow at the University of Waterloo and beyond.
    </div>
  </div>

</div>


  </div>
</div>
{% endblock %}
