{% extends 'base_page.html' %}

{% import 'macros.html' as macros %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ '/static/css/backfill_schedules_page.css'|version }}">
{% endblock %}

{% block page_title %}Backfill Schedules{% endblock %}

{% block header %}
  {{ macros.page_title('Backfill Schedules') }}
{% endblock %}

{% block body %}
  <button id="backfill-all-btn"
      class="btn btn-primary btn-large"
      type="button"
      data-loading-text="Processing...">Backfill all</button>
  <button id="backfill-failed-btn"
      class="btn btn-primary btn-large"
      type="button"
      data-loading-text="Processing...">Backfill failed</button>
  <button id="backfill-screenshots-btn"
      class="btn btn-primary btn-large"
      type="button">
    Backfill all screenshots
  </button>
  <form>
    <button id="backfill-userid-btn"
        class="btn btn-primary btn-large"
        type="button"
        data-loading-text="Processing...">Backfill User ID</button>
    <input id="backfill-userid-input"
        type="text"
        placeholder="User ID">
  </form>

  <div class="row-fluid">
    <div class="span12">
<pre id="logger"><span>Logging output:<br>=================</span>
</pre>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block templates %}
{% endblock %}
