<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block page_title %}{% endblock %} - Course Flow</title>
    <meta name="description" content="TODO(david)">
    <meta name="author" content="TODO(david)">

    <!-- CSS stylesheets -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600">
    <link rel="stylesheet" href="/static/css/ext.css">
    {% block stylesheets %}
    {% endblock %}

    <!-- TODO(david): Favicon -->

    <!-- Javascript -->
    <script>
      window.pageData = {};
      window.pageData.env = '{{ env }}';
      {% if page_script %}
        window.pageData.pageScript = '{{ '/static/js/%s' % page_script }}';
      {% endif %}
    </script>

    <script async data-main="/static/js/main.js" src="/static/js/ext/require-2.0.6.js">
    </script>

  </head>

  <body>
    <!-- TODO(david): Real responsive layout:
         http://twitter.github.com/bootstrap/scaffolding.html#responsive
    -->
    <div id="fb-root"></div>

    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Course Flow</a>
          <ul class="nav pull-right">
            <li class="{{ 'active' if nav_item == 'courses' else '' }}">
              <a href="/courses"><i class="icon-reorder"></i> Courses</a>
            </li>
            <li class="{{ 'active' if nav_item == 'profile' else '' }}">
              <a href="/profile"><i class="icon-user"></i> Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
<header>
      {% block header %}
      {% endblock %}
    </header>

    <div class="container-fluid">
      {% block body %}
      {% endblock %}
    </div>

    <footer>
      {% block footer %}
      {% endblock %}
    </footer>

    {% block templates %}
    {% endblock %}

    {# Put json data passed from backend here under window.pageData.
        Since the script for specific to this page does not run until
        domready, it should be safe to init data here #}
    {% block scripts %}
    {% endblock %}

  </body>
</html>
