{% extends 'base_page.html' %}

{% import 'macros.html' as macros %}

{% block body %}
  <div class="row-fluid">
    <div id="profile-sidebar" class="span3">
      <div class="row-fluid personal-info">
        <div class="span12">
          <img height="200" class="profile-pic img-polaroid"
            src="{{ profile_obj['profile_pic_urls']['large'] }}">
            <h1 class="name">{{ profile_obj['name'] }}</h1>
            {% if profile_obj['program_name'] %}
              <p class="lead program">
                {{ profile_obj['program_name'] }}
              </p>
            {% endif %}
        </div>
      </div>
      {% block sidebar %}
      {% endblock %}
    </div>
    <div class="span9" id="profile-container">
      {% block content %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
