<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block page_title %}{% endblock %}{{ ' - ' if self.page_title() else '' }} Flow</title>
    <meta name="description" content="Plan your university courses with friends in mind.">
    <meta name="author" content="Flow">

    <!-- CSS stylesheets -->
    <link rel="stylesheet"
    href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600">
    <link rel="stylesheet" href="{{ '/static/css/ext.css'|version }}">
    {% block stylesheets %}
    {% endblock %}

    <!-- TODO(david): Favicon -->

    <!-- Javascript -->
    <script>
      window.pageData = {};
      window.pageData.env = '{{ env }}';
      {% if current_user_id %}
        window.pageData.currentUserId = {{ current_user_id|tojson|safe }};
      {% endif %}
      {% if page_script %}
        window.pageData.pageScript = '{{ ('/static/%s/%s' % (js_dir, page_script))|version }}';
      {% endif %}
    </script>

    <script async data-main="{{ '/static/%s/main.js' % js_dir }}" src="{{ ('/static/%s/ext/require-2.0.6.js' % js_dir)|version }}">
    </script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35073503-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
    <!-- TODO(david): Real responsive layout:
         http://twitter.github.com/bootstrap/scaffolding.html#responsive
    -->
    <div id="fb-root"></div>

    <div class="navbar navbar-static-top">
      <div class="container-fluid">
        <a class="brand" href="/">
          <i class="logo logo-no-color"></i>
          <i class="logo logo-color"></i>
          <span class="beta">SAF Beta</span>
        </a>
        <ul class="nav pull-right">
          <li class="{{ 'active' if nav_item == 'courses' else '' }}">
            <a href="/courses"><i class="icon-reorder"></i> Search Courses</a>
          </li>
          {% if current_user %}
            <li class="{{ 'active' if nav_item == 'profile' else '' }}">
              <a href="/profile"><i class="icon-user"></i> Profile</a>
            </li>
            <li class="divider-vertical"></li>
            <li>
              <a href="#"><i class="icon-signout"></i></a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <header>
      {% block header %}
      {% endblock %}
    </header>

    <div class="container-fluid">
      {% block body %}
      {% endblock %}
    </div>

    <footer>
      {% block footer %}
      {% endblock %}
    </footer>

    {% block templates %}
    {% endblock %}

    {# TODO(mack): rename js_vars?
        Put json data passed from backend here under window.pageData.
        Since the script for specific to this page does not run until
        domready, it should be safe to init data here #}
    {% block scripts %}
    {% endblock %}

    {# UserVoice #}
    {% if nav_item != 'landing' %}
    <script type="text/javascript">
      var uvOptions = {};
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/TfZSPWdiQIEAbHMnlV7w.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
    </script>
    {% endif %}
  </body>
</html>
