<!DOCTYPE html>
<html lang="en">
  <head>
    <script>
      {% if env == 'prod' %}
        window.env = 'prod'
      {% else %}
        window.env = 'dev'
      {% endif %}
    </script>
    <link rel="shortcut icon" href="/static/img/favicon-centered.png">
    <meta charset="utf-8">
    <title>{% block page_title %}{% endblock %}{{ ' - ' if self.page_title() else '' }} University of Waterloo: Flow</title>
    <meta name="author" content="Flow">
    <meta name="google-play-app" content="app-id=com.uwflow.flow_android">
    {# Test with https://developers.facebook.com/tools/debug/og/object?q=uwflow.com #}
    <meta property="og:url" content="https://uwflow.com/">
    <meta property="og:title" content="Flow">
    <meta property="og:description" content="Plan your UW courses with friends in mind.">
    <meta property="og:image" content="https://uwflow.com/static/img/logo/flow_og_200x200.png">
    <meta content="{{ csrf_token() }}" name="csrf-token" />
    {% block head_tags %}
    {% endblock %}

    <!-- CSS stylesheets -->
    {# For local development, use local fonts for faster load times (especially
    when internet is crappy), but serve out of Google Fonts on production
    because Google's CDN has some magic to detect and serve fonts that aren't
    broken if the user is on Windows. #}
    {% if env == 'dev' %}
      <link rel="stylesheet" href="/static/css/fonts.css">
    {% else %}
      <link rel="stylesheet"
          href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600">
    {% endif %}

    <link rel="stylesheet" href="{{ '/static/css/ext.css'|version }}">
    {% block stylesheets %}
    {% endblock %}

    <!-- Javascript -->
    <script>
      // console shim for older ie browsers
      window.console = window.console || {};
      (function() {
        var methods = ['log', 'info', 'warn', 'debug', 'trace', 'error'];
        for (var i = 0; i < methods.length; ++i) {
          var method = methods[i];
          if (!window.console[method]) {
            window.console[method] = function() {};
          }
        }
      })();
    </script>
    {% block head_scripts %}
    {% endblock %}

    <script>
      window.pageData = {};
      window.pageData.env = '{{ env }}';
      window.pageData.NUM_KITTENS = {{ NUM_KITTENS|tojson|safe }};
      window.pageData.currentTermId = {{ current_term_id|tojson|safe }};
      {% if current_user_id %}
        window.pageData.currentUserId = {{ current_user_id|tojson|safe }};
      {% endif %}
      {% if page_script %}
        window.pageData.pageScript = '{{ ('/static/%s/%s' % (js_dir, page_script)) }}';
      {% endif %}
      window.pageData.totalPoints = {{ total_points|tojson|safe }};
      window.pageData.shouldRenewFbToken =
          {{ should_renew_fb_token|tojson|safe }};
      // Query params that require.js fetches scripts with
      var require = { urlArgs: '{{ VERSION }}' };
    </script>

    {# Airbrake #}
    {# From: https://github.com/airbrake/airbrake-js #}
    {% if env == 'prod' %}
        <script type="text/javascript">
        (function(callback) {
            var ab = document.createElement('script');
            ab.type = 'text/javascript'; ab.async = true;
            ab.onload = ab.onreadystatechange = callback;
            // this should match your copy of the compiled notifier.js or notifier.min.js
            ab.src = (("https:" == document.location.protocol) ? "https://ssljscdn" : "http://jscdn") + ".airbrake.io/notifier.min.js";
            var p = document.getElementsByTagName('script')[0];
            p.parentNode.insertBefore(ab, p);
        }(function () {
            Airbrake.setRequestType('GET');
            Airbrake.setGuessFunctionName(true);
            Airbrake.setKey('e5c169c339a327611421308985cb5815');
            // set the environment
            Airbrake.setEnvironment('prod');
            // add any defaults
            Airbrake.setErrorDefaults({
                url: document.URL,
                component: "flow",
                action: "useflow",
                user: window.pageData.currentUserId
            });
        }));
        </script>
    {% endif %}


    <script async data-main="{{ '/static/%s/main.js' % js_dir }}" src="{{ '/static/%s/ext/require-2.0.6.js' % js_dir }}">
    </script>

    {# Google Analytics #}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ ga_property_id }}']);
      _gaq.push(['_trackPageview']);
      {% if env == 'dev' -%}
        _gaq.push(['_setDomainName', 'none']);
      {%- endif %}

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    {# Mixpanel #}
    <script type="text/javascript">
      (function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?
      g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.identify people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]);
      {# TODO(Sandy): Change the dev key to a completely different account so
                      we don't waste data points #}
      {% if env == 'prod' %}
        mixpanel.init("0a5e88bd3f288fe8a2d8adf94b452212");
      {% else %}
        mixpanel.init("31525266c483a1eb7fdb9353474370c9");
      {% endif %}

      {% if current_user %}
        {# We want these "Super Properties" sent on every event #}
        {# TODO(Sandy): keep this for when we run out of users slots? verify #}
        mixpanel.register({user_id: '{{ current_user.id }}'});

        mixpanel.people.identify({user_id: '{{ current_user.id }}'});
        mixpanel.people.set({
          $created: new Date(1000 * {{ current_user.join_date.strftime('%s') }}),
          $email: {{ current_user.email|tojson|safe }},
          $first_name: {{ current_user.first_name|tojson|safe }},
          $last_name: {{ current_user.last_name|tojson|safe }},
          $last_login: new Date(),
          Courses: {{ current_user.course_history|length }},
          Friends: {{ current_user.friend_ids|length }},
          Gender: {{ current_user.gender|tojson|safe }},
          Profile: {{ current_user.absolute_profile_url|tojson|safe }},
          Program: {{ current_user.short_program_name|tojson|safe }},
          Year: {{ current_user.last_program_year_id|tojson|safe }}
        });
        {% if current_user.name -%}
          mixpanel.name_tag({{ current_user.name|tojson|safe }});
        {%- endif %}
      {% endif %}
    </script>

    {% block head_misc %}
    {% endblock %}
  </head>

  <body>
    {# TODO(david): Real responsive layout:
         http://twitter.github.com/bootstrap/scaffolding.html#responsive #}
    <div id="fb-root"></div>

    <div id="site-nav" class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <a class="brand nav-item" href="/">
          <i class="logo logo-no-color"></i>
          <i class="logo logo-color"></i>
          <span class="beta">UW Beta</span>
        </a>

        <div id="social-media-actions" class="nav-item">
          <div class="row-fluid social-media">
            <div class="span6 fb-like-container">
              <div class="fb-like" data-href="http://www.facebook.com/planyourflow"
                  data-send="false" data-layout="button_count" data-width="100"
                  data-show-faces="true" data-font="lucida grande">
              </div>
            </div>
            <div class="span6 twitter-follow-container">
              <a href="https://twitter.com/useflow" class="twitter-follow-button"
                  data-show-count="false" data-show-screen-name="false">Follow
              </a>
              <script>
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
              </script>
            </div>
          </div>
        </div>

        <ul class="nav pull-right navbar-minus-searchbar">
          <li class="divider-vertical"></li>

          <li class="{{ 'active' if nav_item == 'courses' else '' }}">
            <a class="nav-item" href="/courses"><i class="icon-reorder"></i> Explore courses</a>
          </li>

          <li class="divider-vertical"></li>

          <li class="{{ 'active' if own_profile else '' }}">
            {% if current_user %}
              <a title="Go to profile" class="nav-item" href="/profile">
                <img class="img img-rounded user-pic" width="30" height="30"
                    src="{{ current_user.profile_pic_urls['square'] }}">
                <span id="user-points-placeholder"></span>
              </a>
            {% else %}
              <a class="nav-item" href="/profile/demo">
                <i class="icon-user"></i>
                Demo profile
              </a>
            {% endif %}
          </li>

          <li class="divider-vertical"></li>

          {% if current_user %}
            <li class="dropdown">
              <a class="nav-item dropdown-toggle" data-toggle="dropdown">
                <i class="icon-caret-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="signout-btn">
                    <i class="icon-signout"></i> Sign out
                  </a>
                </li>
              </ul>
            </li>
          {% else %}
            <li>
              <a class="nav-item" data-toggle="modal" role="button" data-target=".email-login-modal">
                <i class="icon-signin"></i>
                Login
              </a>
            </li>
          {% endif %}
        </ul>

        <div class="unified-search-bar"></div>

      </div>
    </div>

    <div id="sign-in-banner-container"></div>

    <header id="site-header">
      {% block header %}
      {% endblock %}
    </header>

    <div class="container-fluid">
      {% block body %}
      {% endblock %}
    </div>

    <footer id="site-footer">
      {% block footer %}
        <div id="footer-text">
          <ul id="main-links">
            <li><a href="/about">
                <i class="icon-info-sign footer-social-icon"></i> About
            </a></li>
            <li><a target="_blank" href="https://github.com/UWFlow/rmc">
                <i class="icon-github footer-social-icon"></i> GitHub
            </a></li>
            <li><a target="_blank" href="https://twitter.com/useflow">
              <i class="icon-twitter footer-social-icon"></i> Twitter
            </a></li>
            <li><a target="_blank" href="http://facebook.com/planyourflow">
                <i class="icon-facebook footer-social-icon"></i> Facebook
            </a></li>
          </ul>
          <a target="_blank" class="mixpanel-logo" href="https://mixpanel.com/f/partner">
            <img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png"
                  alt="Mobile Analytics" />
          </a>
          <ul id="footer-fine-print">
              <a href="/privacy">Privacy policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/kittens">What's with the kittens?</a>
              <p id="affiliated">We're not affiliated with the University of Waterloo.</p>
          </ul>
        </div>
      {% endblock %}
    </footer>

    {% include 'points.html' %}
    {% include 'search_bar.html' %}
    {% include 'sign_in.html' %}
    {% block templates %}
    {% endblock %}

    {# TODO(mack): rename js_vars?
        Put json data passed from backend here under window.pageData.
        Since the script for specific to this page does not run until
        domready, it should be safe to init data here #}
    {% block scripts %}
    {% endblock %}

    {# UserVoice #}
    {% if nav_item != 'landing' %}
      <!-- UserVoice JavaScript SDK (only needed once on a page) -->
      <script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/XetvuDYSrFuHAEj2C93CQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

      <!-- A tab to launch the Classic Widget -->
      <script>
      UserVoice = window.UserVoice || [];
      UserVoice.push(['showTab', 'classic_widget', {
        mode: 'full',
        primary_color: '#cc6d00',
        link_color: '#007dbf',
        default_mode: 'feedback',
        forum_id: 179420,
        tab_label: 'Feedback',
        tab_color: '#0a93b5',
        tab_position: 'middle-left',
        tab_inverted: false
      }]);
      </script>
    {% endif %}

    {# Intercom.io #}
    {% if current_user and env == 'prod' %}
      <script id="IntercomSettingsScriptTag">
        var intercomSettings = {
          app_id: '4ytbu7ss',
          email: {{ current_user.email|tojson|safe }},
          created_at: {{ current_user.join_date.strftime('%s') }},
          user_id: '{{ current_user.id }}',
          {% if current_user.name -%}
            name: {{ current_user.name|tojson|safe }},
          {%- endif %}
          custom_data: {
            friends: {{ current_user.friend_ids|length }},
            gender: {{ current_user.gender|tojson|safe }},
            program: {{ current_user.short_program_name|tojson|safe }},
            year: {{ current_user.last_program_year_id|tojson|safe }},
            courses: {{ current_user.course_history|length }},
            profile: {{ current_user.absolute_profile_url|tojson|safe }}
          }
        };
      </script>
      <script>
        (function() {
          var i=function(){i.c(arguments)};i.q=[];
          i.c=function(args){i.q.push(args)};window.Intercom=i;
          function async_load() {
            var s = document.createElement('script');
            s.type = 'text/javascript'; s.async = true;
            s.src = 'https://api.intercom.io/api/js/library.js';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
          }
          if (window.attachEvent) {
            window.attachEvent('onload', async_load);
          } else {
            window.addEventListener('load', async_load, false);
          }
        })();
      </script>
    {% endif %}

  </body>
</html>
