{% extends 'base_page.html' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ '/static/css/course_page.css'|version }}">
{% endblock %}

{% block page_title %}{{ course_obj['code'] }} - {{ course_obj['name'] }}{% endblock %}

{% block head_tags %}
  {# Needed to force google bot to fetch from __escaped_fragment__ url
  See: https://developers.google.com/webmasters/ajax-crawling/docs/specification #}
  <meta name="fragment" content="!">
  <meta name="description" content="{{ course_obj['description'] }}">
{% endblock %}

{% block header %}
  <div class="container-fluid course-header">
    <div class="row-fluid">
      <div class="span10">
        <h1 class="page-title">{{ course_obj['code'] }}</h1>
        <p class="lead">{{ course_obj['name'] }}</p>
      </div>
      <div class="span2" id="rating-box-container"></div>
    </div>
  </div>
{% endblock %}

{% block body %}
  <div class="row-fluid">
    <div class="span3 well" id="took-this-sidebar-container">
    </div>
    <div class="span9">
      {# TODO(david): Spinner #}
      <div id="course-inner-container"></div>
      <div id="exam-info-container" class="hide-initial"></div>
      <div id="tips-collection-container"></div>
      <h2>{{ course_obj['professor_ids']|length }} Professors</h2>
      <div id="professor-review-container"></div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script>
  window.pageData.courseObj = {{ course_obj|tojson|safe }};
  window.pageData.tipObjs = {{ tip_objs|tojson|safe }};
  window.pageData.userCourseObjs = {{ user_course_objs|tojson|safe }};
  window.pageData.userObjs = {{ user_objs|tojson|safe }};
  window.pageData.professorObjs = {{ professor_objs|tojson|safe }};
  window.pageData.examObjs = {{ exam_objs|tojson|safe }};
  window.pageData.examUpdatedDate = {{ exam_updated_date|tojson|safe }};
</script>
{% endblock %}

{# TODO(david): Have underscore templates specify their deps. #}
{% block templates %}
  {% include 'prof.html' %}
  {% include 'tips.html' %}
  {% include 'took_this.html' %}
  {% include 'course.html' %}
  {% include 'term.html' %}
  {% include 'ratings.html' %}
  {% include 'user_course.html' %}
  {% include 'exam.html' %}
  {% include 'section.html' %}
  {% include 'section_row.html' %}
  {% include 'review.html' %}
  {% include 'sign_in.html' %}
{% endblock %}
