{% import 'macros.html' as macros %}

{% call macros.us_template('course-tpl') %}
{# TODO(mack): remove uc.term_id null checks #}
<% if (mode === 'add') { %>
  <div class="shortlist-btn add-course-btn">
    <div class="shortlist-btn-inner">
      <i class="icon-plus"></i>
    </div>
  </div>
<% } else if (mode === 'remove') { %>
  <div class="shortlist-btn remove-course-btn">
    <div class="shortlist-btn-inner">
      <i class="icon-remove"></i>
    </div>
  </div>
<% } %>
<div class="course-content">
  <div class="visible-section">
    <div class="course-code">
      <span class="course-code-unlinked"><%- course.code %></span>
      <a href="/course/<%- course.id %>" class="course-code-linked">
        <%- course.code %>
      </a>
    </div>
    <div class="course-name"><%- course.name %></div>

    <div class="rating-box-placeholder"></div>
    <div class="voting-placeholder"></div>
    <div class="sample-friends-placeholder"></div>
    <div class="review-stars-placeholder"></div>
    <% if (profile_user_course && profile_user_course.hasTaken()) { %>
    <% } %>

    {# TODO(david): This is really dumb. Fix in a better way. #}
    <div style="clear: both; margin-bottom: -32px;"></div>
  </div>
  <div class="course-inner-placeholder"></div>
</div>
{% endcall %}

{% call macros.us_template('sample-friends-tpl') %}
<div class="friend-collection-placeholder"></div>
<% var remaining = Math.max(num_friends - max_sample_friends, 0); %>
<% if (remaining > 0) { %>
  <a href="#" rel="popover" class="remaining-friends">
    + <%- remaining %> other <%- pluralize(remaining, 'friend', 'friends') %>
  </a>
<% } %>

{% endcall %}

{% call macros.us_template('course-inner-tpl') %}
<div class="row-fluid">
  <div class="span6 left-col">
    <p class="description"><%- course.get('description') %></p>
    <% if (course.has('prereqs')) { %>
      <p class="prereqs">
        <strong>Prereqs:</strong>
        <%= course.getReqsHtml(course.get('prereqs')) %>
      </p>
    <% } %>
  </div>
  <div class="span6 right-col">
    <div class="ratings-placeholder"></div>
  </div>
</div>

<% if (can_review) { %>
  <div class="row-fluid review-box-row">
    <div class="span12">
      <div class="user-review-box">
        <div class="review-placeholder"></div>
      </div>
    </div>
  </div>
<% } %>

<div class="row-fluid more-info">
  <div class="span12">
    <% if (more_details) { %>
      {# See what your friends are saying about <%- course.code %>! #}
      {# TODO(david): Wrap with <li>s #}
      <a href="/course/<%- course.id %>">
        <i class="icon-info-sign"></i> More Info</a>
    <% } %>

    <% if (mode === 'add') { %>
      <a class="add-course-btn">
        <i class="icon-plus-sign"></i> Add to shortlist</a>
    <% } else if (mode === 'remove') { %>
      <a class="remove-course-btn">
        <i class="icon-remove-sign"></i> Remove from profile</a>
    <% } %>
  </div>
</div>

<div class="section-collection-placeholder"></div>
{% endcall %}

{% call macros.us_template('course-friends-hovercard-tpl') %}
{% endcall %}

{% call macros.us_template('course-friend-tpl') %}
{# TODO(mack): remove harcode by storing attributes in User rather than
  stashing in UserCourse #}
<a href="<%- friend.profile_url %>">
  <img class="friend-pic-img"
    src="<%- friend.profile_pic_urls['default'] %>">
</a>
{% endcall %}

{% call macros.us_template('course-confirm-remove-dialog-tpl') %}
<div class="modal hide-initial fade" id="confirm-remove-modal" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 id="myModalLabel">Remove <%- course_code %> from profile</h3>
  </div>
  <div class="modal-body">
    <p>
      Your ratings and reviews for <%- course_code %> will also be removed. Are
      you sure?
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" data-dismiss="modal"
        id="confirm-remove-modal-button-yes">
      <i class="icon-trash"></i>
      Yes, remove it!
    </button>
    <button class="btn" data-dismiss="modal"
        id="confirm-remove-modal-button-no">
      No, don&apos;t remove it!
    </button>
  </div>
</div>
{% endcall %}
