{% extends 'base_page.html' %}

{% block stylesheets %}
  <link rel="stylesheet" href="/static/css/course_page.css">
{% endblock %}

{% block page_title %}CS 241{% endblock %}

{% block header %}
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span10">
        <h1 class="page-title">CS 241</h1>
        <p class="lead">Introduction to Microeconomics</p>
      </div>
      {# TODO(david): Re-use ratings box HTML (but different styling) #}
      <div class="span2">
        <div class="rating-box badge badge-inverse">
          <div class="rating">2.3</div>
          <div class="num-ratings">1023 ratings</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block body %}
  <div class="row-fluid">
    <div class="span3 well" id="took-this-sidebar-container">
    </div>
    <div class="span9">
      <div id="course-inner-placeholder">[course inner]</div>
      <div id="tips-collection-placeholder">[course tips]</div>
      <div id="professor-review-container">[professor reviews]</div>
    </div>
    </div>
  </div>
{% endblock %}

{# TODO(david): Have underscore templates specify their deps. #}
{% block templates %}
  {% include 'tips.html' %}
  {% include 'took_this.html' %}
  {% include 'course.html' %}
  {% include 'term.html' %}
  {% include 'ratings.html' %}
  {% include 'review.html' %}
{% endblock %}
