{% import 'macros.html' as macros %}

{% call macros.us_template('course-tpl') %}
<!-- TODO(david) FIXME[uw]: Hotspot needs to be bigger -->
<div class="visible-section">
  <div class="course-code"><%- course.code %></div>
  <div class="course-name"><%- course.name %></div>
  <div class="ribbons">
    <% if (user_course && user_course.term_id) { %>
      <div class="taken-ribbon"><i class="icon-ok"></i></div>
      <% if (user_course.has_reviewed) { %>
        <div class="reviewed-ribbon"><i class="icon-pencil"></i></div>
      <% } %>
    <% } %>
  </div>
  <div class="rating-box-placeholder"></div>
  <div class="voting-placeholder"></div>
  <div class="sample-friends-placeholder"></div>
  {# TODO(david): This is really dumb. Fix in a better way. #}
  <div style="clear: both; margin-bottom: -25px;"></div>
</div>
<div class="course-inner-placeholder"></div>
{% endcall %}

{% call macros.us_template('sample-friends-tpl') %}
<div class="friend-collection-placeholder"></div>
<% var remaining = Math.max(num_friends - max_sample_friends, 0); %>
<% if (remaining > 0) { %>
  <a href="#" rel="popover" class="remaining-friends">
    + <%- remaining %> other <%- pluralize(remaining, 'friend', 'friends') %>
  </a>
<% } %>

{% endcall %}

{% call macros.us_template('course-inner-tpl') %}
<% course = course.toJSON(); %>
<div class="row-fluid">
  <div class="span6">
    <p class="description"><%- course.description %></p>
    <!-- TODO(david): Put this in when we get data for this. -->
    <!--<div class="terms-offered">-->
      <!--<span class="label fall">F</span>-->
      <!--<span class="label winter">W</span>-->
      <!--<span class="label spring">S</span>-->
    <!--</div>-->
  </div>
  <div class="span6">
    <div class="ratings-placeholder"></div>
  </div>
</div>

<% if (user_course && user_course.has('term_name')) { %>
  <div class="row-fluid">
    <div class="span12">
      <div class="alert alert-info user-review-box">
        <div class="review-placeholder"></div>
      </div>
    </div>
  </div>
<% } %>

<% if (more_details) { %>
  <div class="row-fluid">
    <div class="span12 more-info">
      <a href="/course/<%- course.id %>">
        <%- course.professors.length %>
        <%- pluralize(course.professors.length, "professor") %>
        teaching this course &raquo;
      </a>
    </div>
  </div>
<% } %>
{% endcall %}

{% call macros.us_template('course-friends-hovercard-tpl') %}
{% endcall %}

{% call macros.us_template('course-friend-tpl') %}
{# TODO(mack): remove harcode by storing attributes in User rather than
  stashing in UserCourse #}
<a href="<%- friend.profile_url %>">
  <img class="friend-pic-img img-rounded"
    src="<%- friend.fb_pic_url %>">
</a>
{% endcall %}
