{% extends 'base_page.html' %}

{% block stylesheets %}
  <link rel="stylesheet" href="/static/css/course_page.css">
{% endblock %}

{% block header %}
  <h1>Browse Courses</h1>
{% endblock %}

{% block body %}
  <div class="row-fluid">
    <div class="span12">
      <div id="search-form-container">
      </div>
      <div id="courses-container">
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block templates %}
  {% include 'ratings.html' %}
  {% include 'review.html' %}
  {% include 'course.html' %}

  <script>
    var pageData = {
      sortModes: {{ sort_modes|tojson|safe }},
    };
  </script>

  <!-- TODO(mack): add to own file? -->
  <script type="text/html" id="search-form-tpl">
    <!-- TODO(mack): add search icon -->
    Sorted
    <li class="sort-mode-dropdown dropdown">
      <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
        <span class="selected-sort-mode"><%- selectedSortMode.name %></span>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" role="menu">
      <% _.each(sortModes, function(sortMode) { %>
        <li data-value="<%- sortMode.value %>">
          <a href="#"><%-sortMode.name %></a>
        </li>
      <% }); %>
      </ul>
    </li>
    in
    <li class="order-dropdown dropdown">
      <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
        <span class="selected-direction"><%- selectedDirection.name %></span>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li data-value="1"><a href="#">ascending</a></li>
        <li data-value="-1"><a href="#">descending</a></li>
      </ul>
    </li>
    order
    <input type="search" class="keywords search-query" placeholder="Keywords...">
  </script>
{% endblock %}

{% block scripts %}
  <script>
    require(['/static/js/course_page.js']);
  </script>
{% endblock %}
