{% extends 'base_page.html' %}

{% import 'macros.html' as macros %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ '/static/css/dashboard.css'|version }}">
{% endblock %}

{% block page_title %}Dashboard{% endblock %}

{% block header %}
  {{ macros.page_title("Dashboard") }}
{% endblock %}

{% block body %}
<div class="stats-row row-fluid">
  <div class="span6">
    <div class="stats-title">Total users</div>
    <div class="stats-num" id="num_users"></div>
  </div>
  <div class="span6">
    <div class="stats-title">Signups today</div>
    <div class="stats-num" id="num_signups_today"></div>
  </div>
</div>
<div class="stats-row row-fluid">
  <div class="span6">
    <div class="stats-title">Users with transcript</div>
    <div class="stats-num" id="users_with_transcript_ratio"></div>
  </div>
  <div class="span6">
    <div class="stats-title">Users with schedule</div>
    <div class="stats-num" id="users_with_schedule_ratio"></div>
  </div>
</div>
<div class="stats-row row-fluid">
  <div class="span6">
    <div class="stats-title">Total ratings</div>
    <div class="stats-num" id="num_ratings"></div>
  </div>
  <div class="span6">
    <div class="stats-title">Total reviews</div>
    <div class="stats-num" id="num_reviews"></div>
  </div>
</div>
<div class="stats-row row-fluid">
  <div class="span6">
    <div class="stats-title">UCs rated or reviewed</div>
    <div class="stats-num" id="ucs_rated_reviewed_ratio"></div>
  </div>
  <div class="span6">
    <div class="stats-title">Courses rated or reviewed</div>
    <div class="stats-num" id="courses_rated_reviewed_ratio"></div>
  </div>
</div>
<div class="stats-row row-fluid">
  <div class="span6">
    <div class="stats-title">Users rated or reviewed</div>
    <div class="stats-num" id="users_rated_reviewed_ratio"></div>
  </div>
</div>
<div class="reviews"></div>
<div id="last_updated"></div>
{% endblock %}

{% block templates %}
{% call macros.us_template('review-info-tpl') %}
<div class="review">
  <div class="review-course-id"><%- review.course_id.toUpperCase() %></div>
  <div class="review-text"><%- review.text %></div>
  <div class="review-type"><%- review.type %></div>
  @ <div class="review-date"><%- moment(review.date.$date).format() %></div>
</div>
{% endcall %}
{% endblock %}

{% block scripts %}
<script>
  window.pageData.epoch = {{ epoch|tojson|safe }};
  window.pageData.latest_reviews = {{ latest_reviews|tojson|safe }};
</script>
{% endblock %}
