{% import 'macros.html' as macros %}

{% call macros.us_template('exam-schedule-tpl') %}
<div class="row-fluid">
  <div class="span12">
    <h1>On-campus final exams</h1>
    <table class="exam-table table table-striped table-bordered table-rounded">
      <caption>
        Your <%- term_name %> final exam schedule
      </caption>
      <thead>
        <tr>
          <th>Course</th>
          <th>Section(s)</th>
          <th>Date</th>
          <th>Time</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(exams.groupedByCourse(), function(courseExams) { %>
        <tr>
          <td>
            <%- courseExams[0].getCourseCode() %>
          </td>
          <td>
            <% _.each(courseExams, function(exam) { %>
            <p>
              <%- exam.get('sections') %>
            </p>
            <% }); %>
          </td>
          <td>
            <% _.each(courseExams, function(exam) { %>
            <p>
              <%- moment(exam.get('start_date').$date).format('MMM Do (dddd)') %>
            </p>
            <% }); %>
          </td>
          <td>
            <% _.each(courseExams, function(exam) { %>
            <p>
              <%- moment(exam.get('start_date').$date).format('h:mm a') %>
              &ndash;
              <%- moment(exam.get('end_date').$date).format('h:mm a') %>
            </p>
            <% }); %>
          </td>
          <td>
            <% _.each(courseExams, function(exam) { %>
            <p>
              <%- exam.get('location') %>
            </p>
            <% }); %>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <small class="last-updated">
      Last updated Dec. 20, 2012 from
      <a href="http://www.registrar.uwaterloo.ca/exams/schedule.pdf"
          target="_blank">
        Fall 2012 Final Examination Schedule.
      </a>
      Please see Quest for your online courses.
    </small>
  </div>
</div>
{% endcall %}
