{% import 'macros.html' as macros %}

{% call macros.us_template('exam-schedule-tpl') %}
<div class="row-fluid">
  <div class="span12">
    <h1>On-campus final exams</h1>
    <div class='exam-schedule-table-placeholder'></div>
    <small class="last-updated">
      Last updated <%- moment(last_updated_date).format('MMM. D, YYYY') %> from
      the
      <!-- TODO(jlfwong): Update this to be automated -->
      <a href="http://www.registrar.uwaterloo.ca/exams/schedule.pdf"
          target="_blank">
        Spring 2014 Final Examination Schedule.
      </a>
      Please see Quest for your online courses.
    </small>
  </div>
</div>
{% endcall %}

{% call macros.us_template('course-exam-schedule-tpl') %}
<div class="row-fluid">
  <div class="span12">
    <h2>Final Exam</h2>
    <div class='exam-schedule-table-placeholder'></div>
    <small class="last-updated">
      Last updated <%- moment(last_updated_date).format('MMM. D, YYYY') %> from
      the
      <!-- TODO(jlfwong): Update this to be automated -->
      <a href="http://www.registrar.uwaterloo.ca/exams/schedule.pdf"
          target="_blank">
        Spring 2014 Final Examination Schedule.
      </a>
     </small>
  </div>
</div>
{% endcall %}

{% call macros.us_template('exam-schedule-table-tpl') %}
<table class="exam-table table table-striped table-bordered table-rounded">
  <thead>
    <tr>
      <% if (showCourseCode) { %>
      <th>Course</th>
      <% } %>
      <th>Section(s)</th>
      <th>Date</th>
      <th>Time</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <% _.each(exams.groupedByCourse(), function(courseExams) { %>
    <tr>
      <% if (showCourseCode) { %>
      <td>
        <a class="course-code" href="/course/<%- courseExams[0].get('course_id') %>">
          <%- courseExams[0].getCourseCode() %>
        </a>
      </td>
      <% } %>
      <td>
        <% _.each(courseExams, function(exam) { %>
        <p>
          <%- exam.get('sections') %>
        </p>
        <% }); %>
      </td>
      <td>
        <% _.each(courseExams, function(exam) { %>
        <p>
          <%- moment(exam.get('start_date')).format('MMM Do (dddd)') %>
        </p>
        <% }); %>
      </td>
      <td>
        <% _.each(courseExams, function(exam) { %>
        <p>
          <%- moment(exam.get('start_date')).format('h:mm a') %>
          &ndash;
          <%- moment(exam.get('end_date')).format('h:mm a') %>
        </p>
        <% }); %>
      </td>
      <td>
        <% _.each(courseExams, function(exam) { %>
        <p>
          <%- exam.get('location') %>
        </p>
        <% }); %>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
{% endcall %}
