{% import 'macros.html' as macros %}

{% call macros.us_template('friend-sidebar-tpl') %}
<div class="num-friends"><%- numFriends %> Friends</div>
<div class="friend-collection-placeholder"></div>
<button class="invite-friends-btn btn btn-primary">
  <i class="icon-plus"></i> Invite more friends!
</button>
{% endcall %}

{% call macros.us_template('friend-tpl') %}
<a class="friend-pic" href=<%- profileUrl %>>
  <img src="<%- fbPicUrl %>">
</a>
<div class="friend-info">
  <a class="friend-name" href=<%- profileUrl %>>
    <%- name %>
  </a>
  <div class="mutual-courses"><%- coursesTook.length %> mutual courses</div>
</div>
{% endcall %}

{% call macros.us_template('friend-hovercard-tpl') %}
<div class="friend-hovercard-inner">
  <div class="term-name"><%- lastTermName %></div>
  <!-- TODO(mack): move course-mini into own backbone view -->
  <ul class="mini-courses">
  <% _.each(coursesTook, function(course) { %>
    <% course = course.toJSON(); %>
    <li class="mini-course">
      <a href="<%- '/course/' + course.id %>" class="course-id"><%- course.id %></a>
      -
      <span class="course-title"><%- course.name %></span>
    </li>
  <% }); %>
  </ul>
  <a class="view-profile" href=<%- '/profile/' + id %>>View all terms &raquo;</a>
  <!-- TODO(mack): investigate why clearfix does not work -->
  <div style="clear:both"></div>
</div>
{% endcall %}
