{% import 'macros.html' as macros %}

{% call macros.us_template('friend-sidebar-tpl') %}
<div class="num-friends">
  <%- num_friends %> <%- pluralize(num_friends, 'friend', 'friends') %>
</div>
<% if (own_profile) { %>
  <button class="invite-friends-btn btn btn-large btn-primary">
    Invite more friends!
    <i rel="tooltip"
      <% if (!invited_before) { %>
        title="Invite a friend to earn <%- first_invite_points %> points!"
      <% } else { %>
        title="You've earned <%- first_invite_points %> points for inviting a friend!"
      <% } %>
        class="icon-star
      <% if (invited_before) { %>
        fill
      <% } %>"></i>
  </button>
<% } %>
<div class="friend-collection-placeholder"></div>
{% endcall %}

{% call macros.us_template('friend-tpl') %}
<% friend = friend.toJSON(); %>
<% if (is_friend_clickable) { %>
  <a class="friend-pic" href="<%- friend.profile_url %>">
    <img class="img-rounded" src="<%- friend.profile_pic_urls['default'] %>">
  </a>
<% } else { %>
  <div class="friend-pic" href="<%- friend.profile_url %>">
    <img class="img-rounded" src="<%- friend.profile_pic_urls['default'] %>">
  </div>
<% } %>
<div class="friend-info">
  <% if (is_friend_clickable) { %>
    <a class="friend-name" href=<%- friend.profile_url %>>
      <%- friend.name %>
    </a>
  <% } else { %>
    <div class="friend-name" href=<%- friend.profile_url %>>
      <%- friend.name %>
    </div>
  <% } %>
  <% if (pageData.ownProfile && mutual_courses.length > 0) { %>
    <a href="#" class="mutual-courses">
      <%- mutual_courses.length %>
      mutual <%- pluralize(mutual_courses.length, 'course', 'courses') %>
    </a>
  <% } %>
</div>
{% endcall %}

{% call macros.us_template('friend-hovercard-tpl') %}
{# TODO(mack): move course-mini into own backbone view #}
<ul class="mini-courses unstyled">
<% last_term_courses.each(function(course) { %>
  <li class="mini-course">
    <% var user_course = course.get('user_course'); %>
    {# TODO(mack): should be comparing term_ids, not term_names #}
    <% if (user_course && user_course.get('term_name') === last_term_name) { %>
      <span class="mutual-taking icon-ok"
          title="You are also taking this course in <%- last_term_name %>"></span>
    <% } %>
    <a href="<%- '/course/' + course.id %>" class="course-code">
      <%- course.get('code') %>
    </a>
    -
    <span class="course-title"><%- course.get('name') %></span>
  </li>
<% }); %>
</ul>
<a class="view-profile" href="<%- '/profile/' + friend.id %>">View all terms &raquo;</a>
{% endcall %}

{# TODO(mack): remove duplication with friend-hovercard-tpl #}
{% call macros.us_template('mutual-courses-hovercard-tpl') %}
<ul class="mini-courses unstyled">
<% mutual_courses.each(function(course) { %>
  <% course = course.toJSON(); %>
  <li class="mini-course">
    <a href="<%- '/course/' + course.id %>" class="course-code"><%- course.code %></a>
    -
    <span class="course-title"><%- course.name %></span>
  </li>
<% }); %>
</ul>
{% endcall %}
