{% import 'macros.html' as macros %}

{% call macros.us_template('friend-sidebar-tpl') %}
<div class="num-friends">
  <%- numFriends %> <%- pluralize(numFriends, 'Friend', 'Friends') %>
</div>
<div class="friend-collection-placeholder"></div>
<% if (pageData.profileObj.ownProfile) { %>
  <button class="invite-friends-btn btn btn-primary">
    <i class="icon-plus"></i> Invite more friends!
  </button>
<% } %>
{% endcall %}

{% call macros.us_template('friend-tpl') %}
<a class="friend-pic" href=<%- profileUrl %>>
  <img src="<%- fbPicUrl %>">
</a>
<div class="friend-info">
  <a class="friend-name" href=<%- profileUrl %>>
    <%- name %>
  </a>
  <a href="#" class="mutual-courses">
    <%- mutual_courses.length %>
    mutual <%- pluralize(mutual_courses.length, 'course', 'courses') %>
  </a>
</div>
{% endcall %}

{% call macros.us_template('friend-hovercard-tpl') %}
<!-- TODO(mack): move course-mini into own backbone view -->
<ul class="mini-courses unstyled">
<% coursesTook.each(function(course) { %>
  <% course = course.toJSON(); %>
  <li class="mini-course">
    <a href="<%- '/course/' + course.id %>" class="course-code"><%- course.code %></a>
    -
    <span class="course-title"><%- course.name %></span>
  </li>
<% }); %>
</ul>
<a class="view-profile" href=<%- '/profile/' + id %>>View all terms &raquo;</a>
{% endcall %}

{# TODO(mack): remove duplication with friend-hovercard-tpl #}
{% call macros.us_template('mutual-courses-hovercard-tpl') %}
<ul class="mini-courses unstyled">
<% mutual_courses.each(function(course) { %>
  <% course = course.toJSON(); %>
  <li class="mini-course">
    <a href="<%- '/course/' + course.id %>" class="course-code"><%- course.code %></a>
    -
    <span class="course-title"><%- course.name %></span>
  </li>
<% }); %>
</ul>
{% endcall %}
