{% extends 'base_page.html' %}

{% block stylesheets %}
  <link rel="stylesheet" href="/static/css/index_page.css?1">
{% endblock %}

{% block bodytop %}
<div id="fb-root"></div>
{% endblock %}

{% block header %}
  <div id="landing-header" class="hero-unit">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <h1>
            Planning courses?<br>
            Ask your friends!
          </h1>
{# TODO(sandy): add permissions in scope attribute https://developers.facebook.com/docs/authentication/permissions/ #}
{# TODO(sandy): fix width alignment issue and test max-rows #}
{# XXX(sandy): shws "1 friend using" instead of the friend's name and pic. doesn't show them when logged in...or use facepile? #}
{# TODO(sandy): try using facepile here after we buy domain? #}
          <div class="fb-login-button" data-show-faces="true"
              data-width="335" data-max-rows="2"
              size="xlarge">
            Connect with Facebook
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block body %}

{# TODO(mack): use ol rather than div #}
<section id="steps">
  <div class="row-fluid">
    <div class="span4">
      <img class="img-circle" src="http://placekitten.com/400/250">
    </div>
    <div class="span8">
      <p style="padding-left: 40px;"><br><br>See what your friends took</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span8">
      <p style="text-align: right; padding-right: 40px;"><br><br>Get useful ratings and reviews</p>
    </div>
    <div class="span4">
      <img class="img-circle" src="http://placekitten.com/401/250">
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <img class="img-circle" src="http://placekitten.com/402/250">
    </div>
    <div class="span8">
      <p style="padding-left: 40px;"><br><br>Share and review what you took</p>
    </div>
  </div>
</section>
{% endblock %}

{% block footer %}
<div class="container-fluid">
  <div id="landing-footer" class="row-fluid">
    <div class="span12">
      <p class="lead" id="landing-footer-text">
        We're Waterloo students trying to help out other students!
      </p>
      <p style="text-align: center;">
        [social media icons]
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script>
    require(['/static/js/index_page.js']);
  </script>
{% endblock %}
