{% extends 'base_page.html' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ '/static/css/index_page.css'|version }}">
{% endblock %}

{% block header %}
  <div id="landing-header" class="hero-unit">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <h1>
            Planning courses?<br>
            Ask your friends!
          </h1>
          <div class="fb-login-button-container">
          {# TODO(Sandy): Make david style the button (find image, make the
             pointer change when they hover over the img to look button-like #}
            <img class="fb-login-button" src="/static/img/ribbon_blue.png">
          </div>
          {# TODO(Sandy): Make david position the facepile.
             TODO(Sandy): Pass the app_id from server somehow. right now it's
               the prod id. probably set it with jquery in facebook.js  #}
          <div class="fb-facepile" data-app-id="219309734863464"
            data-max-rows="1" data-width="300">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block body %}

{# TODO(mack): use ol rather than div #}
<section id="steps">
  <div class="row-fluid">
    <div class="span4">
      <img class="img-circle" src="http://placekitten.com/400/250">
    </div>
    <div class="span8">
      <p style="padding-left: 40px;"><br><br>See what your friends took</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span8">
      <p style="text-align: right; padding-right: 40px;"><br><br>Get useful ratings and reviews</p>
    </div>
    <div class="span4">
      <img class="img-circle" src="http://placekitten.com/401/250">
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <img class="img-circle" src="http://placekitten.com/402/250">
    </div>
    <div class="span8">
      <p style="padding-left: 40px;"><br><br>Share and review what you took</p>
    </div>
  </div>
</section>
{% endblock %}

{% block footer %}
<div class="container-fluid">
  <div id="landing-footer" class="row-fluid">
    <div class="span12">
      <p class="lead" id="landing-footer-text">
        We're Waterloo students trying to help out other students!
      </p>
      <p style="text-align: center;">
        [social media icons]
      </p>
    </div>
  </div>
</div>
{% endblock %}
