{% extends 'base_page.html' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ '/static/css/index_page.css'|version }}">
{% endblock %}

{% set nav_item = "landing" %}

{% block head_scripts %}
{% if env != 'dev' %}
  <!-- Google Analytics Content Experiment code -->
  <script>function utmx_section(){}function utmx(){}(function(){var
  k='64363987-4',d=document,l=d.location,c=d.cookie;
  if(l.search.indexOf('utm_expid='+k)>0)return;
  function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
  indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
  length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
  '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
  '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
  '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
  valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
  '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
  </script><script>utmx('url','A/B');</script>
  <!-- End of Google Analytics Content Experiment code -->
{% endif %}
{% endblock head_scripts %}

{% block header %}
<div id="landing-header">
  <div class="sign-up-box">
    <div class="sign-up-content">

        <h1 class="welcome">Welcome to Flow.</h1>
      {# TODO(mack): make the button and facepile use backbone view in sign_in.html #}
      {% if in_pre_enroll_exp %}
        <p class="lead tagline">
          Plan courses. See what your friends are taking.
        </p>
      {% else %}
        <p class="lead tagline-orig">
          Discover, plan, and track university courses with friends in mind.
        </p>
      {% endif %}

      <div class="fb-login-button">
        <div class="fb-logo-box">
          <img class="fb-logo-f" src="/static/img/f-6-25.png">
        </div>
        <span class="fb-login-text">Connect with Facebook</span>
      </div>

      <div class="permission-text">
        <i class="icon-lock"></i> We'll never post without your permission.
      </div>

      {# FIXME(Sandy): Permission requests after login now gives
      us a cross-domain request error. I suspect it's because we're not
      longer doing FB login in an iFrame. Luckily, we still seem to be
      getting data back for the FB.api requests. Worry later? #}
      {# Note: data-app-id is set in facebook.js #}
      <div class="fb-facepile" data-max-rows="1" data-width="350"></div>

    </div>
  </div>
  <i class="header-bg"></i>
</div>
{% endblock header %}

{% block body %}
<div id="photo-credit">Photo by Paulom Shah</div>
{% endblock body %}
