{% extends 'base_page.html' %}

{% import 'macros.html' as macros %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ '/static/css/onboarding_page.css'|version }}">
{% endblock %}

{% block page_title %}Welcome{% endblock %}

{% block body %}
  <div class="row-fluid">
    <div class="span12" id="onboarding-container">

      <div class="row-fluid">
        <div class="span3">
        <h2>Thanks for signing up!</h2>
          <p class="lead">
            If you could just take a moment to import your course history from
            your Quest transcript, you'll be able to see, rate, and share your
            course history with friends!
          </p>
          <h3>Step 1</h3>
          <p class="step">
            Log in to <a target="_blank"
              href="https://quest.pecs.uwaterloo.ca/psp/SS/?cmd=login">
              Quest</a> &gt; My Academics &gt; Unofficial Transcript
          </p>
          <h3>Step 2</h3>
          <p class="step"> After your transcript loads, select the entire page
            (Ctrl+A) and copy it (Ctrl+C)
          </p>
          <h3>Step 3</h3>
          <p class="step">
            Paste (Ctrl+V) your transcript into the textbox below
            and let the magic happen!
          </p>
        </div>
        <div class="span9" id="laptop-container">
          <video id="transcript-video" autoplay loop muted controls preload="meta">
            <source src="/static/video/david-transcript-import-640x400.mp4"
              type="video/mp4" />
            <source src="/static/video/david-transcript-import-640x400.webm"
              type="video/webm" />
          </video>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span12">
          <textarea id="transcript-text"
            placeholder="Feed me a transcript! Mmm... transcripts...."></textarea>
        </div>
      </div>

      <p id="transcript-remove-text"></p>
      <div id="transcript-error"></div>
      <h1>We value your privacy</h1>
      <p id="transcript-disclaimer">
        Flow only uses your transcript so you can easily <strong>import your
          course history</strong> and share them with your friends.
        <strong>Your trust is very important to us, so we take your privacy
          very seriously!</strong> We do not display or store any grades or
        other private information. See our <a href="/privacy">privacy
          policy</a> for more information.
      </p>
      <div id="manual-course-import-container">
        <a href="#manual-course-import-modal" role="button"
          class="btn btn-large btn-primary" id="manual-course-import-text"
          data-toggle="modal">Manually import courses</a>
      </div>
    </div>
  </div>
  {# Modal dialog for manually import courses coming soon
TODO(Sandy): make this work
  <div class="modal hide fade" id="manual-course-import-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3 id="myModalLabel">Modal header</h3>
    </div>
    <div class="modal-body">
      <p>One fine body…</p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Close</button>
      <button class="btn btn-primary">Save changes</button>
    </div>
  </div>
#}
{% endblock %}

{% block footer %}
{% endblock %}

{% block templates %}
{% endblock %}

{% block scripts %}
{% endblock %}
