{% extends 'base_page.html' %}

{% import 'macros.html' as macros %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ '/static/css/onboarding_page.css'|version }}">
{% endblock %}

{% block page_title %}Welcome{% endblock %}

{% block body %}
  <div class="row-fluid">
    <div class="span12" id="onboarding-container">

      <div class="row-fluid">
        <div class="span3">
        <h2>Thanks for signing up!</h2>
          <p class="lead">
            If you could just take a moment to import your course history from
            your Quest transcript, you'll be able to see, rate, and share your
            course history with friends!
          </p>
          <h3>Step 1</h3>
          <p class="step">
            Log in to <a target="_blank"
              href="https://quest.pecs.uwaterloo.ca/psp/SS/?cmd=login">
              Quest</a> &rarr; My Academics &rarr; Unofficial Transcript &rarr;
              (Dropdown) Report Type &rarr; Unofficial Undergraduate
          </p>
          <h3>Step 2</h3>
          <p class="step"> After your transcript loads, select the entire page
            (Ctrl+A) and copy it (Ctrl+C)
          </p>
          <h3>Step 3</h3>
          <p class="step">
            Paste (Ctrl+V) your transcript into the textbox below
            and let the magic happen!
          </p>
        </div>
        <div class="span9" id="laptop-container">
          {# TODO(david): Host video on YouTube #}
          <video id="transcript-video" loop muted controls preload="meta">
            <source src="/static/video/david-transcript-import-640x400.mp4"
              type="video/mp4" />
            <source src="/static/video/david-transcript-import-640x400.webm"
              type="video/webm" />
          </video>
        </div>
      </div>

      <div id="add-transcript-container" class="row-fluid">
      </div>

      <div id="onboarding-skip-container">
        <a class="skip-link" href="/profile">Skip for now &raquo;</a>
      </div>

    </div>
  </div>
{% endblock %}

{% block templates %}

{% call macros.us_template('add-transcript-tpl') %}

  <% if (!transcript_friends.length) { %>
    <div class="span12">
  <% } else { %>
    <div class="span8">
  <% } %>
    <textarea class="transcript-text"
      placeholder="Feed me a transcript! Mmm... transcripts...."></textarea>
    <div class="transcript-error"></div>

    <p class="transcript-disclaimer">
      <strong style="font-size: 22px">We do not store your grades</strong>.
      Flow only uses your transcript so you can easily <strong>import your
      course history</strong> and share it with friends.
      See our <a href="/privacy">privacy policy</a> for more information.
    </p>
  </div>

  <% if (transcript_friends.length) { %>
    <div class="span4">
      <div class="friends-added-transcript">
        <h3>
          <%- transcript_friends.length %> <%- pluralize(transcript_friends.length, 'friend') %>
          added their transcript
        </h3>
        <% transcript_friends.each(function(friend) { %>
          <% friend = friend.toJSON(); %>
          <img
            data-title="<%- friend.first_name  %> added <%- friend.course_history.length %> courses"
            rel="tooltip" class="friend-pic" src="<%= friend.profile_pic_urls['default'] %>">
        <% }); %>
        <p class="mutual-course-text">
          <i class="icon-star"></i> Add your transcript to see mutual courses!
        </p>
      </div>
    </div>
  <% } %>
{% endcall %}

{% endblock %}

{% block scripts %}
<script>
  window.pageData.userObjs = {{ user_objs|tojson|safe }};
</script>
{% endblock %}
