{% extends 'base_page.html' %}

{% import 'macros.html' as macros %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ '/static/css/privacy_page.css'|version }}">
{% endblock %}

{% block page_title %}Privacy policy{% endblock %}

{% block header %}
  {{ macros.page_title("Privacy policy") }}
{% endblock %}

{% block body %}

<article class="policies">
  <section class="policy">
    <h2 class="question">What information do we collect?</h2>
    <p class="answer">We collect information from you when you register on our site. When ordering or registering on our site, as appropriate, you may be asked to enter your: Facebook user ID and password.</p>
  </section>

  <section class="policy">
    <h2 class="question">What do we use your information for?</h2>
    <p class="answer">Any of the information we collect from you may be used in one of the following ways:</p>
    <ul>
      <li>To personalize your experience (your information helps us to better respond to your individual needs)</li>
      <li>To improve our website (we continually strive to improve our website offerings based on the information and feedback we receive from you)</li>
      <li>To improve customer service (your information helps us to more effectively respond to your customer service requests and support needs)</li>
    </ul>
  </section>

  <section class="policy">
    <h2 class="question">How do we protect your information?</h2>
    <p class="answer">We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information.</p>
  </section>

  <section class="policy">
    <h2 class="question">Do we use cookies?</h2>
    <p class="answer">Yes (Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information. We use cookies to understand and save your preferences for future visits.</p>
  </section>

  <section class="policy">
    <h2 class="question">Do we disclose any information to outside parties?</h2>
    <p class="answer">We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>
  </section>

  <section class="policy">
    <h2 class="question">California Online Privacy Protection Act Compliance</h2>
    <p class="answer">Because we value your privacy we have taken the necessary precautions to be in compliance with the California Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties without your consent. As part of the California Online Privacy Protection Act, all users of our site may make any changes to their information at anytime by logging into their control panel and going to the 'Profile' page.</p>
  </section>

  <section class="policy">
    <h2 class="question">Childrens Online Privacy Protection Act Compliance</h2>
    <p class="answer">We are in compliance with the requirements of COPPA (Childrens Online Privacy Protection Act), we do not collect any information from anyone under 13 years of age. Our website, products and services are all directed to people who are at least 13 years old or older.</p>
  </section>


  <section class="policy">
    <h2 class="question">Online Privacy Policy Only</h2>
    <p class="answer">This online privacy policy applies only to information collected through our website and not to information collected offline.</p>
  </section>

  <section class="policy">
    <h2 class="question">Your Consent</h2>
    <p class="answer">By using our site, you consent to this privacy policy.</p>
  </section>

  <section class="policy">
    <h2 class="question">Changes to our Privacy Policy</h2>
    <p class="answer">If we decide to change our privacy policy, we will post those changes on this page, send an email notifying you of any changes, and/or update the Privacy Policy modification date below. This policy was last modified on October 9, 2012,</p>

  <section class="policy">
    <h2 class="question">Contacting Us</h2>
    <p class="answer">If there are any questions regarding this privacy policy you may contact us at <a href="mailto:info@uwflow.com">info@uwflow.com</a>. This policy is powered by Free Privacy Policy and Rhino Support <a href="http://www.rhinosupport.com" target="_blank">help desk software</a>.</p>
  </section>

</article>

{% endblock %}
