{% extends 'base.html' %}

{% block stylesheets %}
  <link rel="stylesheet" href="/static/css/profile_page.css">
{% endblock %}

{% block header %}
  <h1>Profile</h1>
{% endblock %}

{% block body %}
  <div id="term-collection-container"></div>
  <textarea id="transcript-text" wrap="off"></textarea>
  <div id="transcript-error"></div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block templates %}
  {% include 'course.html' %}
  {% include 'term.html' %}
{% endblock %}

{% block scripts %}
  <script>
    require(['/static/js/profile_page.js']);
  </script>
{% endblock %}
