{% import 'macros.html' as macros %}

{% call macros.us_template('prof-card-tpl') %}
  <img width="150" height="150"
    class="prof-picture img-polaroid" src="<%- pictureUrl %>"></img>
  <div id="<%- normalizeProfName(name) %>" class="prof-info">
    <h3 class="prof-name">
      <a href="/professor/<%- id %>" class="prof-link"><%- name %></a>
    </h3>
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd>Coming soon...</dd>
      <dt>Phone</dt>
      <dd>Coming soon...</dd>
      <dt>Office</dt>
      <dd>Coming soon...</dd>
    </dl>
  </div>
{% endcall %}

{% call macros.us_template('prof-review-tpl') %}
<div class="comment-text">
  <%- comment %>
</div>
<div class="comment-date">
  <%- comment_date %>
</div>
{% endcall %}

{% call macros.us_template('prof-expandable-reviews-tpl') %}
<div class="well expandable-prof <%- numHidden < 1 ? "no-hidden" : "" %>">
  <div class="row-fluid">
    <div class="span6">
      <div class="prof-card-placeholder"></div>
    </div>
    <div class="span6">
      <div class="row-fluid">
        <div class="span12 prof-rating-container">
          <div class="rating-box-placeholder"></div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <div class="aggregate-ratings-placeholder"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="reviews-collection-placeholder"></div>
  <% if (numHidden > 0) { %>
    <a class="toggle-reviews">See <%- numHidden %> more
      <%- pluralize(numHidden, "review") %> &raquo;</a>
  <% } %>
</div>
{% endcall %}

{% call macros.us_template('prof-inner-tpl') %}
  <div class="row-fluid">
    <div class="span6 left-col">
      <img width="150" height="150" class="prof-picture img-polaroid"
          src="/static/img/kittens//color/<%- kittenNum %>.jpg"></img>
      <div id="<%- normalizeProfName(name) %>" class="prof-info">
        <dl class="dl-horizontal">
          <dt>Email</dt>
          <dd>Coming soon...</dd>
          <dt>Phone</dt>
          <dd>Coming soon...</dd>
          <dt>Office</dt>
          <dd>Coming soon...</dd>
        </dl>
      </div>
    </div>
    <div class="span6 right-col">
      <div class="career-rating-placeholder"></div>
    </div>
  </div>
{% endcall %}
