{% extends 'base_profile_page.html' %}

{% import 'macros.html' as macros %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ '/static/css/profile_page.css'|version }}">
{% endblock %}

{% block head_misc %}
  <link rel="prerender" href="/courses">
{% endblock %}

{% set nav_item = "profile" %}

{% block page_title %}
  {{ profile_obj['name'] }}
{% endblock %}

{% block sidebar %}
  <hr class="divider">
  <div class="row-fluid">
    <div class="span12" id="friend-sidebar-container"></div>
  </div>
{% endblock %}

{% block content %}
  {% if own_profile and not has_courses %}
    <h2>Thanks for signing up!</h2>
    <p class="lead">
      If you could just take a moment to <a href="/onboarding">import your
      course history</a> from your Quest transcript, you'll be able to
      rate and share courses you've taken with friends!
    </p>
  {% endif %}

  {% if own_profile and not has_shortlisted %}
    <div class="alert fade in alert-info" id="shortlist-alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p class="lead">Planning courses for a future term? <a href="/courses"><strong>Add courses to your shortlist:</strong></a></p>
      <a href="/courses">
        <span class="shortlist-screenshot-wrap">
          <img src="/static/img/how_to_add_to_shortlist.png" class="shortlist-screenshot-img">
        </span>
      </a>
    </div>
  {% endif %}

  <div id="class-schedule-placeholder"></div>
  <div id="exam-schedule-placeholder"></div>
  <div id="term-collection-container"></div>
{% endblock %}

{# TODO(david): Have underscore templates specify their deps. #}
{% block templates %}
  {% include 'friend.html' %}
  {% include 'course.html' %}
  {% include 'term.html' %}
  {% include 'ratings.html' %}
  {% include 'user_course.html' %}
  {% include 'exam.html' %}
  {% include 'schedule.html' %}
  {% include 'profile.html' %}
{% endblock %}

{% block scripts %}
<script>
  window.pageData.transcriptObj = {{ transcript_obj|tojson|safe }};
  window.pageData.userObjs = {{ user_objs|tojson|safe }};
  window.pageData.userCourseObjs = {{ user_course_objs|tojson|safe }};
  window.pageData.professorObjs = {{ professor_objs|tojson|safe }};
  window.pageData.courseObjs = {{ course_objs|tojson|safe }};
  window.pageData.profileUserId = {{ profile_user_id|tojson|safe }};
  window.pageData.ownProfile = {{ own_profile|tojson|safe }};
  window.pageData.examObjs = {{ exam_objs|tojson|safe }};
  window.pageData.scheduleItemObjs = {{ schedule_item_objs|tojson|safe }};
</script>
{% endblock %}
