{% import 'macros.html' as macros %}

{% call macros.us_template('raffle-unlock-tpl') %}
<div class="header-text">
  <span class="countdown">
    Ends in
    <span class="remaining-time"></span>
  </span>
  <span class="unlock-requirements">
    <% if (next_unlock_prize) { %>
      Waterloo is <strong><%- next_unlock_prize.get('points_to_unlock') - total_points %> points</strong>
      from unlocking <strong><%- next_unlock_prize.get('name') %></strong>!
    <% } else { %>
      Congrats on unlocking all prizes for the raffle!
    <% } %>
  </span>
</div>
<div class="progress-container">
  <div class="progress progress-info">
    <div class="bar"></div>
    <div class="bar-incomplete"></div>
  </div>
  <div class="ticks">
    <div class="tick initial"></div>
  <% prizes.each(function(prize) { %>
    <% var tick_percent = 100 * prize.get('points_to_unlock') / max_points_scale; %>
    <div class="tick <%- prize.id %>"
        style="left: <%- tick_percent %>%; margin-left: -1px;"></div>
  <% }); %>
  </div>
  <div class="total-points">
    <strong><%- total_points %> points</strong>
  </div>
</div>
<div class="details">
  <div class="prizes">
    <% prizes.each(function(prize) { %>
      <% var tick_percent = 100 * prize.get('points_to_unlock') / max_points_scale; %>
      <% var unlocked = total_points >= prize.get('points_to_unlock'); %>
      <div style="left: <%- tick_percent %>%;"
          class="prize
            <%- prize.id %>
            <% if (unlocked) { %>
              unlocked
            <% } else { %>
              locked
            <% } %>">
        <div class="name <%- prize.id %>">
          <% if (unlocked) { %>
            <i class="icon-unlock"></i>
          <% } else { %>
            <i class="icon-lock"></i>
          <% } %>
          <%- prize.get('name') %>
        </div>
        <div class="pic" rel="tooltip"
            title="
              <% if (unlocked) { %>
                Unlocked!
              <% } else { %>
                <%- prize.get('points_to_unlock') - total_points %>
                more points to unlock.
              <% } %>">
        </div>
      </div>
    <% }); %>
  </div>
  <p class="description">
    We are currently running a raffle. Review more courses to unlock better raffle prizes!
  </p>
  <p class="end-time">
    This raffle ends on December 12, 2012 at 12:12:12pm EST.
  </p>
  {# TODO(mack): add back
  <a class="learn-more" target="_blank" href="#">Learn more &raquo;</a>
  #}
</div>
{% endcall %}
