{% import 'macros.html' as macros %}

{% call macros.us_template('review-tpl') %}
<div class="user-review">
  <div class="row-fluid">
    <div class="span12">
      <div class="select2-inline">
        You took this course in
        <span class="term"><%- term %></span>
        with
        <select data-placeholder="which professor?" class="prof-select">
          <option></option>
          <% _.each(courseModel.professors, function(prof) { %>
            <option value="<%- prof.id %>"><%- prof.name %></option>
          <% }); %>
        </select>
        <button class="add-review btn btn-info">
          <i class="icon-plus"></i> Add review!
        </button>
      </div>
    </div>
  </div>

  <div class="review-details hide-initial">
    <div class="row-fluid">
      <div class="span12">
        <h4>
          What did you think about the course?
        </h4>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <div class="course-ratings-placeholder"></div>
      </div>
      <div class="span6">
        <textarea rows="3" placeholder="Any tips?"
          class="comments course-comments"><%- course_review.comment %></textarea>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <h4>
          ...and about the professor?
        </h4>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <div class="prof-ratings-placeholder"></div>
      </div>
      <div class="span6">
        <textarea placeholder="Write some comments... please?"
          class="comments prof-comments"><%- prof_review.comment %></textarea>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <button type="submit" class="save-review btn btn-primary">
          <i class="icon-save"></i> Save!
        </button>
      </div>
    </div>
  </div>

</div>
{% endcall %}
