{% import 'macros.html' as macros %}

{% call macros.us_template('review-tpl') %}
<div class="row-fluid">
  <div class="span8">
    <div class="comment-placeholder"></div>
  </div>
  {# TODO(david): Figure out why span3 squishes it #}
  <div class="span4">
    <div class="ratings-placeholder"></div>
  </div>
</div>
{% endcall %}

{% call macros.us_template('comment-tpl') %}
<div class="row-fluid">
  <div class="span3 author">
    <img class="img-rounded" width="50" height="50"
        src="<%- author_pic_url %>" class="author-pic">
    <div>
      <small class="comment-date">
        <% if (!anonymous) { %>
          <% if (author.id) { %>
            <a href="/profile/<%- author.id.$oid %>"><%- author.name %></a>
          <% } else if (author.short_program_name) { %>
            <span class="muted">
                A<%- ('aeiou'.indexOf(author.short_program_name[0].toLowerCase()) !== -1) ? 'n' : '' %>
            </span>
            <%- author.short_program_name %>
            <span class="muted">student</span>
          <% } %>
          <span class="muted">on</span>
        <% } %>
        <span class="muted">
          <%- moment(comment_date).format('MMM D, YYYY') %>
        </span>
      </small>
    </div>
  </div>
  <div class="span9">
  <div class="comment-text">
    <% if (num_rated_useful_total > 0) { %>
      <div class="muted helpful-review"><%- num_found_useful %> out of
        <%- num_rated_useful_total %> people found this review helpful</div>
    <% } %>
    <%- comment %>
  </div>
      <div class="comment-vote">
        <% if (id) { %>
          Did you find this review helpful? <span style="margin-left: 10px;">
              <button type="button" class="review-btn">Yes</button>
              <button type="button" class="review-btn">No</button>
          </span>
        <% } %>
      </div>
  </div>
</div>
{% endcall %}
