{% import 'macros.html' as macros %}

{% call macros.us_template('schedule-item-tpl') %}
<div class="section-info truncate">
  <a class="course-code" href="/course/<%- item.get('course_id') %>">
    <%- item.get('course') ? item.get('course').get('code') : item.get('course_id') %>
  </a> -
  <%- item.get('section_type').toUpperCase() %>
  <%- item.get('section_num') %>
</div>
<div class="time-loc-info truncate">
  <%- moment(item.get('start_date')).format('h:mm') %> -
  <%- moment(item.get('end_date')).format('h:mm a') %>
  <% if (item.get('building')){ %>
    <br>
    <%- item.get('building') %>
    {# The building might not have a room. E.g. 'TBA' #}
    <% if (item.get('room')) { %>
      <%- item.get('room') %>
    <% } %>
  <% } %>
</div>
{% endcall %}

{% call macros.us_template('schedule-day-tpl') %}
<div class="header header-label">
    <%= moment(date).format('ddd M/D') %>
</div>
<div class="schedule-item-container">
</div>
{% endcall %}

{% call macros.us_template('schedule-hour-row-tpl') %}
<span class="hour-label">
  <%- moment().hours(hour).format('h a') %>
</span>
{% endcall %}

{% call macros.us_template('schedule-tpl') %}
<div class="schedule-frame">
  <div class="schedule-nav">
    <div class="date-range">
      <% var start_moment = moment(start_date); %>
      <% var end_moment = moment(end_date); %>
      <% if (end_moment.year() !== start_moment.year()) { %>
        <%- moment(start_date).format('MMMM Do, YYYY') %>
        -
        <%- moment(end_date).format('MMMM Do, YYYY') %>
      <% } else if (end_moment.month() !== start_moment.month()) { %>
        <%- moment(start_date).format('MMMM Do') %>
        -
        <%- moment(end_date).format('MMMM Do, YYYY') %>
      <% } else if (end_moment.date() !== start_moment.date()) { %>
        <%- moment(start_date).format('MMMM Do') %>
        -
        <%- moment(end_date).format('Do, YYYY') %>
      <% } else { %>
        <%- moment(start_date).format('MMMM Do, YYYY') %>
      <% } %>
      <span class="weekly-hours-label">
        <% if (total_hours !== 0) { %>
          (<%- total_hours %> hours this week)
        <% } %>
      </span>
    </div>
    <div class="buttons">
      <button class="btn curr-week-btn">Current Week</button>
      <div class="btn-group prev-next-week-btns">
        <button class="btn prev-week-btn">
          <i class="icon-chevron-left"></i>
        </button>
        <button class="btn next-week-btn">
          <i class="icon-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="times">
    <div class="header">
    </div>
    <div class="hour-label-container">
    </div>
  </div>
  <div class="day-container clearfix">
  </div>
  <div class="clearfix"></div>
  <div class="schedule-share-placeholder"></div>
</div>
<% if (courses_not_shown && courses_not_shown.length) { %>
  <div class="courses-not-shown alert alert-warning">
    Yo! <strong><%- courses_not_shown.join(', ').toUpperCase() %></strong> not
    shown above because meeting times are TBA. Reimport when times are known.
  </div>
<% } %>
{% endcall %}

{# TODO(Sandy): consider generalizing this if we need it later #}
{% call macros.us_template('schedule-share-tpl') %}
<div class="form-inline">
  <span class="cell">
    <button class="facebook-btn btn btn-info">
      <i class="icon-share"></i>&nbsp;
      Share on Facebook
    </button>
  </span>
  <span class="cell">
    <label class="share-label">or share this link:</label>
  </span>
  <span class="cell link-box-container">
    <input type="url" class="link-box input-small" value="<%- url %>">
  </span>
  <div class="cell export-btn-group btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="icon-external-link"></i>&nbsp;
      Export
      &nbsp;<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li class="google-calendar-export-btn">
        <a href="http://www.google.com/calendar/render?cid=<%- encodeURIComponent(iCalUrl) %>"
          target="_blank">
          Google Calendar
        </a>
      </li>
      <li class="icalendar-export-btn">
        <a href="<%- iCalUrl %>">
          iCalendar
        </a>
      </li>
    </ul>
  </div>
  <span class="cell">
    <button class="reimport-btn btn">
      <i class="icon-refresh"></i>&nbsp;
      Reimport
    </button>
  </span>
  <span class="cell">
    <a href="<%- printUrl %>" target="_blank" class="print-schedule-btn btn">
      <i class="icon-print"></i>&nbsp;
      Print
    </a>
  </span>
</div>
{% endcall %}

{% call macros.us_template('schedule-input-tpl') %}
<div class="row-fluid">
  <ol class="steps-container">
    <li class="span4 step">
      <p class="step-text lead">
        <a href="https://quest.pecs.uwaterloo.ca/psp/SS/" target="_blank">
          Log in to Quest
        </a>
        and click enroll.
      </p>
      <img class="step-img" src="/static/img/import-schedule/step-1.png">
    </li>
    <li class="span4 step">
      <p class="step-text lead">Select all and copy.</p>
      <img class="step-img" src="/static/img/import-schedule/step-2.png">
    </li>
    <li class="span4 step">
      <p class="step-text lead">Paste into the box below!</p>
      <textarea class="schedule-input-textarea"
        placeholder="Om nom nom schedules!"></textarea>
    </li>
  </ol>
</div>
{% endcall %}

{% call macros.us_template('schedule-input-modal-tpl') %}
<div class="schedule-input-modal modal hide-initial fade"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>
      Import your schedule
      <a href="https://quest.pecs.uwaterloo.ca/psp/SS/"
          target="_blank">from Quest</a>
    </h3>
  </div>
  <div class="modal-body">
    <div class="schedule-input-placeholder"></div>
  </div>
</div>
{% endcall %}
