{% import 'macros.html' as macros %}

{% call macros.us_template('schedule-item-tpl') %}
<div class="section-info truncate">
  <a class="course-code" href="/course/<%- item.get('course_id') %>">
    <%- item.get('course').get('code') %>
  </a> -
  <%- item.get('section') %>
</div>
<div class="time-loc-info truncate">
  <%- moment(item.get('start_time'), 'H:m').format('h:mm') %> -
  <%- moment(item.get('end_time'), 'H:m').format('h:mm a') %>
  <% if (item.get('building') && item.get('room')) { %>
    <br>
    <%- item.get('building') %> <%- item.get('room') %>
  <% } %>
</div>
{% endcall %}

{% call macros.us_template('schedule-day-tpl') %}
<div class="header">
    <%= day.name %>
</div>
<div class="schedule-item-container">
</div>
{% endcall %}

{% call macros.us_template('schedule-hour-label-tpl') %}
<%- moment().hours(hour).format('h a') %>
{% endcall %}

{% call macros.us_template('schedule-tpl') %}
<div class="times">
    <div class="header">
    </div>
    <div class="hour-label-container">
    </div>
</div>
<div class="day-container clearfix">
</div>
<div class="clearfix"></div>
{% endcall %}
