{% import 'macros.html' as macros %}

{% call macros.us_template('schedule-item-tpl') %}
<div class="section-info truncate">
  <a class="course-code" href="/course/<%- item.get('course_id') %>">
    <%- item.get('course') ? item.get('course').get('code') : item.get('course_id') %>
  </a> -
  <%- item.get('section_type').toUpperCase() %>
  <%- item.get('section_num') %>
</div>
<div class="time-loc-info truncate">
  <%- moment(item.get('start_date')).format('h:mm') %> -
  <%- moment(item.get('end_date')).format('h:mm a') %>
  <% if (item.get('building')){ %>
    <br>
    <%- item.get('building') %>
    {# The building might not have a room. E.g. 'TBA' #}
    <% if (item.get('room')) { %>
      <%- item.get('room') %>
    <% } %>
  <% } %>
</div>
{% endcall %}

{% call macros.us_template('schedule-day-tpl') %}
<div class="header header-label">
    <%= moment(date).format('ddd M/D') %>
</div>
<div class="schedule-item-container">
</div>
{% endcall %}

{% call macros.us_template('schedule-hour-row-tpl') %}
<span class="hour-label">
  <%- moment().hours(hour).format('h a') %>
</span>
{% endcall %}

{% call macros.us_template('schedule-tpl') %}
<div class="schedule-nav">
  <div class="date-range">
    <% var start_moment = moment(start_date); %>
    <% var end_moment = moment(end_date); %>
    <% if (end_moment.year() !== start_moment.year()) { %>
      <%- moment(start_date).format('MMMM Do, YYYY') %>
      -
      <%- moment(end_date).format('MMMM Do, YYYY') %>
    <% } else if (end_moment.month() !== start_moment.month()) { %>
      <%- moment(start_date).format('MMMM Do') %>
      -
      <%- moment(end_date).format('MMMM Do, YYYY') %>
    <% } else if (end_moment.date() !== start_moment.date()) { %>
      <%- moment(start_date).format('MMMM Do') %>
      -
      <%- moment(end_date).format('Do, YYYY') %>
    <% } else { %>
      <%- moment(start_date).format('MMMM Do, YYYY') %>
    <% } %>
  </div>
  <div class="buttons">
    <button class="btn curr-week-btn">Current Week</button>
    <div class="btn-group prev-next-week-btns">
      <button class="btn prev-week-btn">
        <i class="icon-chevron-left"></i>
      </button>
      <button class="btn next-week-btn">
        <i class="icon-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
<div class="times">
    <div class="header">
    </div>
    <div class="hour-label-container">
    </div>
</div>
<div class="day-container clearfix">
</div>
<div class="clearfix"></div>
<div class="schedule-share-placeholder"></div>
{% endcall %}

{# TODO(Sandy): consider generalizing this if we need it later #}
{% call macros.us_template('schedule-share-tpl') %}
<div class="form-inline">
  <button class="facebook-btn btn btn-info">
    <i class="icon-share"></i>&nbsp;
    Share on Facebook
  </button>
  <label class="share-label">or share this link:</label>
  <input type="url" class="link-box input-small" value="<%- url %>">
  <a href="<%- print_url %>" target="_blank" class="print-schedule-btn btn">
    <i class="icon-print"></i> &nbsp;Print
  </a>
  <button class="reimport-btn btn">
    <i class="icon-refresh"></i>&nbsp;
    Reimport
  </button>
</div>
{% endcall %}

{% call macros.us_template('schedule-input-tpl') %}
<div class="row-fluid">
  <ol class="steps-container">
    <li class="span3 step">
      <p class="step-text lead">
        <a href="https://quest.pecs.uwaterloo.ca/psp/SS/" target="_blank">
          Log in to Quest
        </a>
        and click enroll.
      </p>
      <img class="step-img" src="/static/img/import-schedule/step-1.png">
    </li>
    <li class="span3 step">
      <p class="step-text lead">Select the current term and continue.</p>
      <img class="step-img" src="/static/img/import-schedule/step-2.png">
    </li>
    <li class="span3 step">
      <p class="step-text lead">Select all and copy.</p>
      <img class="step-img" src="/static/img/import-schedule/step-3.png">
    </li>
    <li class="span3 step">
      <p class="step-text lead">Paste into the box below!</p>
      <textarea class="schedule-input-textarea"
        placeholder="Om nom nom schedules!"></textarea>
      <div class="schedule-input-error"></div>
    </li>
  </ol>
</div>
{% endcall %}

{% call macros.us_template('schedule-input-modal-tpl') %}
<div class="schedule-input-modal modal hide-initial fade"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>
      Import your schedule
      <a href="https://quest.pecs.uwaterloo.ca/psp/SS/"
          target="_blank">from Quest</a>
    </h3>
  </div>
  <div class="modal-body">
    <div class="schedule-input-placeholder"></div>
  </div>
</div>
{% endcall %}
