{% extends 'base_profile_page.html' %}

{% import 'macros.html' as macros %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ '/static/css/schedule_page.css'|version }}">
  <link id="schedule-print-css" rel="stylesheet"
    {% if show_printable %}
      media="print,screen"
    {% else %}
      media="print"
    {% endif %}
      href="{{ '/static/css/schedule_page_print.css'|version }}">
{% endblock %}

{% block page_title %}
  {{ profile_obj['name'] }}'s Schedule
{% endblock %}

{% block sidebar %}
  <hr class="divider">
  <div class="row-fluid">
    <div class="span12">
      {% if current_user_id %}
        <a href="/profile/{{ profile_user_id }}"
          class="view-profile-btn btn btn-large btn-primary">
          View {{ profile_obj['first_name'] }}'s full profile
        </a>
      {% else %}
        <button class="view-profile-btn btn btn-large btn-primary">
          View {{ profile_obj['first_name'] }}'s full profile
        </button>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="class-schedule-placeholder"></div>
{% endblock %}

{% block templates %}
  {% include 'schedule.html' %}
  {% include 'sign_in.html' %}
{% endblock %}

{% block scripts %}
<script>
  window.pageData.userObjs = {{ user_objs|tojson|safe }};
  window.pageData.courseObjs = {{ course_objs|tojson|safe }};
  window.pageData.profileUserId = {{ profile_user_id|tojson|safe }};
  window.pageData.scheduleItemObjs = {{ schedule_item_objs|tojson|safe }};
</script>
{% endblock %}
