{% extends 'base_page.html' %}

{% import 'macros.html' as macros %}

{% set nav_item = "courses" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ '/static/css/search_page.css'|version }}">
{% endblock %}

{% block page_title %}Search courses{% endblock %}

{% block header %}
  {{ macros.page_title("Search Courses") }}
{% endblock %}

{% block body %}
  <div class="row-fluid">
    <div class="span12">
      <div id="course-page-container">
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block templates %}
  {% include 'ratings.html' %}
  {% include 'user_course.html' %}
  {% include 'course.html' %}

  <!-- TODO(mack): add to own file? -->
  <script type="text/html" id="search-form-tpl">
    <div class="row-fluid">
      <div class="span12">
        <input type="search" class="keywords search-query"
          placeholder='eg. cs241'>
      </div>
    </div>
    <form class="course-search-form nav nav-pills">
      <!-- TODO(mack): add search icon -->
      Offered in
      <li class="term-dropdown dropdown">
        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
          <span class="selected-term"><%- selectedTerm.name %></span>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
        <% _.each(terms, function(term) { %>
          <li data-value="<%- term.value %>">
            <a href="#"><%-term.name %></a>
          </li>
        <% }); %>
        </ul>
      </li>
      sorted by
      <li class="direction-dropdown dropdown">
        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
          <span class="selected-direction"><%- selectedDirection.name %></span>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
        <% _.each(directions, function(direction) { %>
          <li data-value="<%- direction.value %>">
            <a href="#"><%-direction.name %></a>
          </li>
        <% }); %>
        </ul>
      </li>
      <li class="sort-mode-dropdown dropdown">
        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
          <span class="selected-sort-mode"><%- selectedSortMode.name %></span>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
        <% _.each(sortModes, function(sortMode) { %>
          <li data-value="<%- sortMode.value %>">
            <a href="#"><%-sortMode.name %></a>
          </li>
        <% }); %>
        </ul>
      </li>
      first
    </form>
    <div style="clear:both;"></div>
    <div class="loader-container">
      <div class="loader hide" style="margin-top: -30px;"></div>
    </div>
    <div class="course-collection-placeholder">
    </div>
    <div class="loader-container loader-bottom">
      <div class="loader hide" style="margin-top: 20px;"></div>
    </div>
  </script>
{% endblock %}

{% block scripts %}
<script>
  window.pageData.terms = {{ terms|tojson|safe }};
  window.pageData.sortModes = {{ sort_modes|tojson|safe }};
  window.pageData.directions = {{ directions|tojson|safe }};
  window.pageData.userObjs = {{ user_objs|tojson|safe }};
</script>
{% endblock %}
