{% extends 'base_page.html' %}

{% import 'macros.html' as macros %}

{% set nav_item = "courses" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ '/static/css/search_page.css'|version }}">
{% endblock %}

{% block head_misc %}
  <link rel="prerender" href="/profile">
{% endblock %}

{% block page_title %}Explore courses{% endblock %}

{% block header %}
  {{ macros.page_title("Explore courses") }}
{% endblock %}

{% block body %}
  <div class="row-fluid">
    <div class="span12">
      <div id="course-search-container"></div>
    </div>
  </div>
{% endblock %}

{# No footer needed for this infinite-scroll page. #}
{% block footer %}{% endblock %}

{% block templates %}
  {% include 'section.html' %}
  {% include 'ratings.html' %}
  {% include 'user_course.html' %}
  {% include 'course.html' %}
  {% include 'sign_in.html' %}

  <!-- TODO(mack): add to own file? -->
  {% call macros.us_template('search-form-tpl') %}
    <div class="course-search-options">
      {# TODO(mack): add search icon #}
      <div class="row-fluid keywords-container">
        <div class="span12">
          <input type="search" class="keywords search-query"
            placeholder='eg: cs241, econ, astronomy' value='<%- keywords %>'>
          <i class="icon-search"></i>
        </div>
      </div>

      <form class="course-search-form nav nav-pills">
        Sorted by
        <span class="sort-options btn-group">
          <% _.each(sortModes, function(sortMode, i) { %>
            <button class="option btn <%- sortModes[i] === selectedSortMode ? 'active' : '' %>"
                data-value="<%- sortMode.name %>">
              <i class="<%- getIconForMode(sortMode.name) %>"></i>
              <%-sortMode.name.replace('_', ' ') %>
            </button>
          <% }); %>
        </span>

        <li class="excluding-taken-courses-dropdown dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
            <span class="selected-exclude-option">
              <% if (excludeTakenCourses === 'yes') { %>
                excluding
              <% } else { %>
                including
              <% } %>
            </span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li data-value="yes">
              <a href="#">excluding</a>
            </li>
            <li data-value="no">
              <a href="#">including</a>
            </li>
          </ul>
        </li>
        courses I've taken
      </form>
    </div>

    <div style="clear:both;"></div>
    <div class="loader-container">
      <div class="loader hide" style="margin-top: -20px;"></div>
    </div>
    <div class="course-collection-placeholder">
    </div>
    <div class="loader-container loader-bottom">
      <div class="loader hide" style="margin-top: 20px;"></div>
    </div>
  {% endcall %}
{% endblock %}

{% block scripts %}
<script>
  window.pageData.sortModes = {{ sort_modes|tojson|safe }};
  window.pageData.userObjs = {{ user_objs|tojson|safe }};
</script>
{% endblock %}
