{% import 'macros.html' as macros %}

{% call macros.us_template('sections-collection-tpl') %}
<h2 class="sections-term-heading"><%- termName %></h2>
<% if (term[0].has('note')) { %>
  <p>
    <strong>Please note:</strong> <%- term[0].get('note') %>
  </p>
<% } %>
<table class="sections-table table table-bordered table-rounded">
  <thead>
    <tr>
      <th>Section</th>
      <th>Class</th>
      <th>Campus</th>
      <th>Enrolled</th>
      <th>Time</th>
      <th>Location</th>
      <th>Instructor(s)</th>
    </tr>
  </thead>
  <tbody class="sections-table-body-placeholder">
  </tbody>
</table>
<small class="last-updated">
  Last updated <%- lastUpdated %> from
  <a href="http://www.adm.uwaterloo.ca/cgi-bin/cgiwrap/infocour/salook.pl?level=under&sess=<%- questId %>&subject=<%- courseParts[0] %>&cournum=<%- courseParts[1] %>"
      target="_blank">
    www.adm.uwaterloo.ca</a>.
 </small>
{% endcall %}
