{% import 'macros.html' as macros %}

{# TODO(mack): remove duplicated code (from index_page.html #}

{% call macros.us_template('sign-in-banner-tpl') %}
<div class="container-fluid">
  <div class="message">
    <% if (message) { %>
      <%= message %>
    <% } else { %>
      See what your friends are taking.<br>
      Export your class and exam schedule.
    <% } %>
  </div>
  <div class="fb-login-placeholder"></div>
  <i class="icon-remove-circle close-banner" data-placement="left"
      title="Close this annoying banner (sorry :P)"></i>
</div>
{% endcall %}

{% call macros.us_template('sign-in-modal-tpl') %}
<div class="modal sign-in-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><%- title %></h3>
  </div>
  <div class="modal-body">
    <p class="lead"><%- message %></p>
    <div class="fb-login-placeholder"></div>
  </div>
  <div class="modal-footer">
    <button class="btn close">Close</button>
  </div>
</div>
<div class="modal-backdrop"></div>
{% endcall %}


{% call macros.us_template('fb-login-tpl') %}
<div class="fb-login-button-container">
  <div class="fb-login-button">
    <div class="fb-logo-box">
      <img class="fb-logo-f" src="/static/img/f-6-25.png">
    </div>
    <span class="fb-login-text"><%- fb_connect_text %></span>
  </div>
</div>
{# FIXME(Sandy): same comment as in index_page.html #}
<div colorscheme="dark" data-size="small" class="fb-facepile" data-max-rows="1" data-width="350"></div>
{% endcall %}

{% call macros.us_template('email-sign-in-modal-tpl') %}
<div class="email-sign-in-modal modal hide-initial fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><i class="icon-time"></i>&nbsp; Hang on!</h3>
  </div>
  <div class="modal-body">
    <p class="lead">
      Thanks for your interest! We're still working on this.
    </p>
    <p>
      For now, you'll have to sign in with Facebook.
    </p>
    <p>
      If you would like to be notified when email accounts are ready, enter your
      email below.
    </p>
  </div>
  <div class="modal-footer">
    <div class="input-append">
      <input class="email-input" type="text" placeholder="Email address">
      <button class="btn send-email-btn" type="button">Submit</button>
    </div>
    <div class="submit-msg hide-initial alert alert-info">
      <i class="icon-ok"></i>&nbsp;
      Thanks! We&rsquo;ll notify you when we&rsquo;re ready.
    </div>
  </div>
</div>
{% endcall %}
