{% import 'macros.html' as macros %}

{% call macros.us_template('term-tpl') %}
<div class="term-name well">
  <% if(expand) { %>
    <i class="arrow icon-caret-down"></i>
  <% } else { %>
    <i class="arrow icon-caret-right"></i>
  <% } %>
  <% if (program_year_id) { %>
    <span class="bold"><%- program_year_id %></span>&nbsp;
  <% } %>
  <span class="<%- program_year_id ? 'light muted' : 'bold'%>">
    <%- name %>
  </span>
</div>
<div class="course-collection-placeholder"></div>
{% endcall %}
