{% import 'macros.html' as macros %}

{% call macros.us_template('took-this-sidebar-tpl') %}
<h3 class="num-friends"><%- numFriends %>
  <%- pluralize(numFriends, 'friend', 'friends') %> took <%- courseCode %>
</h3>
<div class="took-this-collection-placeholder"></div>
{% endcall %}

{% call macros.us_template('took-this-tpl') %}
<a class="person-pic" href="<%- user_profile_url %>">
  <img src="<%- user_fb_pic_url %>">
</a>
<div class="person-info">
  <a class="person-name" href="<%- user_profile_url %>">
    <%- user_name %>
  </a>
  <div class="mutual-courses">in <%- term_name %></div>
</div>
{% endcall %}
