{% import 'macros.html' as macros %}

{% call macros.us_template('took-this-sidebar-tpl') %}
{# TODO(david): Actual Facebook connect button. XXX Flow users have taken this
course? #}
<% if (!window.pageData.currentUserId) { %>
  <p class="lead">
    <a href="/">Connect with Facebook</a> to see which of your friends are taking
    this course!
  </p>
<% } else if (!num_friends_current && !num_friends_future && !num_friends_past) { %>
  <p>
    None of your friends have taken this course.
  </p>
<% } %>
<!-- TODO(sandy): wording for past present future -->
<% if (num_friends_current > 0) { %>
  <h3 class="num-friends">
    <%- num_friends_current %>
    <%- pluralize(num_friends_current, 'friend', 'friends') %> taking this
  </h3>
  <div class="took-this-current-term-collection-placeholder"></div>
<% } %>
<% if (num_friends_future > 0) { %>
  <h3 class="num-friends">
    <%- num_friends_future %>
    <%- pluralize(num_friends_future, 'friend', 'friends') %>
    <%- pluralize(num_friends_future, 'plans', 'plan') %>
    to take this
  </h3>
  <div class="took-this-future-term-collection-placeholder"></div>
<% } %>
<% if (num_friends_past > 0) { %>
  <h3 class="num-friends">
    <%- num_friends_past %>
    <%- pluralize(num_friends_past, 'friend', 'friends') %> took this
  </h3>
  <div class="took-this-past-term-collection-placeholder"></div>
<% } %>
{% endcall %}

{% call macros.us_template('took-this-tpl') %}
<a class="person-pic" href="<%- friend.profile_url %>">
  <img class="img-rounded" src="<%- friend.profile_pic_urls['default'] %>">
</a>
<div class="person-info">
  <a class="person-name" href="<%- friend.profile_url %>">
    <%- friend.name %>
  </a>
  <div class="mutual-courses">in <%- user_course.term_name %></div>
</div>
{% endcall %}
