{% extends 'base_page.html' %}

{% import 'macros.html' as macros %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ '/static/css/unsubscribe_page.css'|version }}">
{% endblock %}

{% block page_title %}Unsubscribe{% endblock %}

{% block body %}
<div>
  <div class="row-fluid">
    <div class="span12">
    {#  TODO(Sandy): Show subscription status and resubscribe #}
      <h2>Unsubscribe from emails</h2>
      <p class="lead">
        If you really want to say goodbye...forever...just click below :'(
      </p>

      <button class="unsubscribe_button btn">
        Unsubscribe
      </button>
    </div>
  </div>

</div>


  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  window.pageData.unsubscribe_user = {{ unsubscribe_user|tojson|safe }};
</script>
{% endblock %}
