{% import 'macros.html' as macros %}

{% call macros.us_template('add-review-tpl') %}
<div class="user-course">
  <div class="row-fluid prof-select-row">
    <div class="span12">
      <div class="select2-inline">
        You took this course in
        <span class="term"><%- term_name %></span>
        with
        <input type="hidden" data-placeholder="which professor?" class="prof-select">
        <button class="add-review btn btn-info">
          <i class="icon-plus"></i> Add review!
        </button>
      </div>
    </div>
  </div>

  <div class="review-details hide-initial">
    <div class="row-fluid">
      <div class="span12">
        <h4>
          Was the course...
        </h4>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span5">
        <div class="course-ratings-placeholder"></div>
      </div>
      <div class="span7">
        <textarea rows="3" placeholder="Any tips or comments?"
          class="comments course-comments"><%- course_review.comment %></textarea>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <h4>
          ...and was the professor...
        </h4>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span5">
        <div class="prof-ratings-placeholder"></div>
      </div>
      <div class="span7">
        <textarea placeholder="Comment about the professor..."
          class="comments prof-comments"><%- professor_review.comment %></textarea>
      </div>
    </div>

    <div class="row-fluid">
      {# This is to have consistent column widths for better resizing #}
      <div class="span5"></div>
      <div class="span7 submit-bar">
        <span class="privacy-tip privacy-tip-more-info"
            title='Others will see you as "A <%- program_name %> student"'>
          <i class="icon-group"></i> Friends
        </span>
        <button type="submit" class="save-review btn btn-primary">
          <i class="icon-comment"></i> Post comments!
        </button>
        <span class="save-error-msg text-error"></span>
      </div>
    </div>
  </div>

</div>
{% endcall %}
