{% import 'macros.html' as macros %}

{% call macros.us_template('add-review-tpl') %}
<div class="user-course">
  <div class="row-fluid prof-select-row">
    <div class="span12">
      <div class="select2-inline">
        You took this course in
        <span class="term"><%- term_name %></span>
        with
        <input type="hidden" data-placeholder="which professor?" class="prof-select">
        <button class="add-review btn btn-info">
          <i class="icon-plus"></i> Add review!
        </button>
      </div>
    </div>
  </div>

  <div class="review-details hide-initial">
    <div class="row-fluid">
      <div class="span12">
        <h4>
          What did you think about the course?
        </h4>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <div class="course-ratings-placeholder"></div>
      </div>
      <div class="span6">
        <textarea rows="3" placeholder="Comments or tips?"
          class="comments course-comments"><%- course_review.comment %></textarea>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <h4>
          ...and about the professor?
        </h4>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <div class="prof-ratings-placeholder"></div>
      </div>
      <div class="span6">
        <textarea placeholder="Write some comments... please?"
          class="comments prof-comments"><%- professor_review.comment %></textarea>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <button type="submit" class="save-review btn btn-primary">
          <i class="icon-save"></i> Save!
        </button>
        <span class="save-error-msg text-error"></span>
      </div>
    </div>
  </div>

</div>
{% endcall %}
