"""This is a template for secrets.py, which contains authentication codes/tokens
and other secrets that are not checked in.

Ask a Flow admin if you need any specific code below.
"""

# TODO(david): Figure out if it's safe to check this in. This is required for
#     being able to log in with Facebook on dev. For now, ask an admin if you
#     need this, or just test with the demo profile.
FB_APP_SECRET_DEV = 'deadbeef123456789deadbeef1234567'

FB_APP_SECRET_PROD = 'deadbeef123456789deadbeef1234567'

HIPCHAT_HACK_ROOM_ID = 31337
HIPCHAT_TOKEN = 'deadbeef123456789deadbeef12345'

AWS_KEY_ID = 'ITWASRAREIWASTHERE'
AWS_SECRET_KEY = 'HeYyouCallmeupagainJusttObreakMelikeaPromise'

FLASK_SECRET_KEY = 'likeafireworksshow'

# Shh, don't let the NSA know we have this.
US_NUCLEAR_LAUNCH_CODE = '00000000'
