/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import 'variables';
@import 'compass/css3';
@import 'compass/utilities/general/clearfix';


/*****************************
 * Generic classes
 **************************/
.hide-initial {
  display: none;
}

.hide {
  display: none !important;
}

/* For modern browsers */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
  zoom: 1;
}

// This overrides Bootstrap's well class (it now looks raised instead of sunken)
.well {
  // TODO(david): These grays should not be hardcoded, or could be off-gray
  @include background(linear-gradient(top, #FCFCFC, #F9F9F9));
  // TODO(david): these colors should be darkened as much as the main text color
  //     was darkened (from http://opalang.org/)
  border-color: $wellBorderColor;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.select2-inline {
  line-height: 28px;
}

////////////////////////////////////////////////////////////////////////////////
// Overrides

// TODO(david): Do this in a better way
.select2-search .select2-input  {
  font-family: $baseFontFamily;
}

.navbar-search .search-query {
  line-height: 17px;
}

/****************************
 * Base page styles
 *************************/

// apply a natural box layout model to all elements
// See for more info http://paulirish.com/2012/box-sizing-border-box-ftw

// Uncomment to debug boxes
//* {
  //outline: 1px red solid;
//}

// TODO(david): Make this work. Footer should be at bottom.
html, body {
  height: 100%;
  min-height: 100%;
}

body {
  // TODO(mack): setup image dir to auto-use
  @include background(url(/static/img/pinstripe.png));

  // Background we tried... last one is the one we're using
  //@include background(url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/grey.png));
  //@include background(url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/lightpaperfibers.png));
  //@include background(url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/lil_fiber.png));
  //@include background(url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/light_wool.png));
  //@include background(url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/square_bg.png), url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/gridme.png));
  //@include background(url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/square_bg.png));
  //@include background(url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/struckaxiom.png));
  //@include background(url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/pinstripe.png));
}

// TODO(mack): move landing page stuff into separate file

.container-fluid {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  //@include background(url(/static/img/footer_background_2000.jpg) center center no-repeat);
  // TODO(david): Async-load this
  // TODO(david): Use jpg and have it fade out into bg color
  @include background(url(/static/img/footer_background_2000.png) center center no-repeat);
  // TODO(david): Figure out background-size: cover instead of height
  // TODO(david): FIgure out empty gap on Sandy's computer
  height: 388px;
  margin-top: 200px;
  #landing-footer-text {
    padding-top: 30px;
    text-align: center;
  }
}
