/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import '_variables';
@import 'compass/reset';
@import 'compass_twitter_bootstrap';


/*****************************
 * Generic classes
 **************************/
.hide {
  display: none;
}

/****************************
 * Base page styles
 *************************/

// apply a natural box layout model to all elements
// See for more info http://paulirish.com/2012/box-sizing-border-box-ftw
* {
  @include box-sizing(border-box);
}

body {
  // TODO(mack): setup image dir to auto-use
  @include background(url(/static/img/background.png));
}

// TODO(mack): move landing page stuff into separate file

.container-fluid {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  @include background(url(/static/img/footer_background_2000.jpg) center center no-repeat);
  // TODO(david): Figure out background-size: cover instead of height
  height: 545px;
  margin-top: 50px;
  #landing-footer-text {
    padding-top: 30px;
    text-align: center;
  }
}
