/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import 'variables';
@import 'compass/css3';
@import 'compass/utilities/general/clearfix';
@import 'points';
@import 'jquery.smartbanner';

/*****************************
 * Generic classes
 **************************/
.hide-initial {
  display: none;
}

.hide {
  display: none !important;
}

/* For modern browsers */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
  zoom: 1;
}

// This overrides Bootstrap's well class (it now looks raised instead of sunken)
.well {
  // TODO(david): These grays should not be hardcoded, or could be off-gray
  @include background(linear-gradient(top, #FCFCFC, #F9F9F9));
  // TODO(david): these colors should be darkened as much as the main text color
  //     was darkened (from http://opalang.org/)
  border-color: $wellBorderColor;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.select2-inline {
  line-height: 28px;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
}

// See http://stackoverflow.com/a/12090055
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

////////////////////////////////////////////////////////////////////////////////
// Overrides

// TODO(david): Do this in a better way
.select2-search .select2-input  {
  font-family: $baseFontFamily;
}

.navbar-search .search-query {
  line-height: 17px;
}

// To get Bootstrap tooltip on top of Bootstrap modal
.tooltip {
    z-index: 2000 !important;
}

.tooltip-inner {
  line-height: 18px;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
}

// Disable bootstrap modal slide-down animation (which is annoying) but preserve
// fade-in. From http://stackoverflow.com/a/11978026/392426
.modal.fade {
  @include transition(opacity 0.3s linear, none);
  top: 50%;
}

.btn {
  // Suppress the blue outline on clicked buttons seen in Chrome.
  outline: none;
}

.left-inner-addon {
  position: relative;
}
.left-inner-addon input {
  padding-left: 30px;
}
.left-inner-addon i {
  position: absolute;
  padding: 10px 12px;
  pointer-events: none;
}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 170, 255, 0.57);
  border-top: 0px;
}

.ui-autocomplete li
{
  height: 35px;
  border-style: solid;
  border-width: 1px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-color: rgba(0, 170, 255, 0.57);
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.ui-autocomplete a
{
  background-color: #ffffff;
  color:#000000;
  padding-left: 0px;
  padding-top: 7px;
  padding-bottom: 5px;
  font-size: 20px;
  height: 35px;
  text-decoration: none;
}

.ui-autocomplete img
{
  margin-left: 4px;
  margin-right: 7px;
  margin-top: -6px;
  margin-bottom: 1px;
  height: 30px;
  width: 35px;
}

.ui-autocomplete .search-icon
{
  margin-left: 9px;
  margin-right: 11px;
  margin-top: -6px;
  margin-bottom: 1px;
  color: #666;
}

.ui-autocomplete a.ui-state-hover
{
  font-weight: normal !important;
  background-color: rgba(92, 201, 255, 0.10);
  color: #000000;
}

/****************************
 * Base page styles
 *************************/

// Uncomment to debug boxes
//* {
  //outline: 1px rgba(255, 0, 0, 0.2) solid;
//}

body {
  background: white url(/static/img/bg-white-grainy.png);
  background-attachment: fixed;
  padding-top: $navbar-height;

  // Background we tried... last one is the one we're using
  //@include background(url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/grey.png));
  //@include background(url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/lightpaperfibers.png));
  //@include background(url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/lil_fiber.png));
  //@include background(url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/light_wool.png));
  //@include background(url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/square_bg.png), url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/gridme.png));
  //@include background(url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/square_bg.png));
  //@include background(url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/struckaxiom.png));
  //@include background(url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/pinstripe.png));
}

// TODO(mack): move landing page stuff into separate file

.container-fluid {
  min-width: 968px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

a:hover {
  cursor: pointer;
}

.navbar {
  $font-color: #555;

  z-index: 200;
  background: rgb(250, 250, 250);
  @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  height: $navbar-height;

  .container-fluid {
    position: relative;

    .brand {
      color: $font-color;
      text-shadow: none;

      .logo {
        position: absolute;
        width: 75px;
        height: 35px;
        @include transition(all 0.3s ease-out);
      }
      .logo-no-color {
        background: url('/static/img/flow-logo-75x35-555.png') no-repeat;
      }
      .logo-color {
        background: url('/static/img/flow-logo-75x35.png') no-repeat;
        opacity: 0;
      }
      .beta {
        margin-left: 85px;
        font-variant: small-caps;
        letter-spacing: 1px;
        font-size: 30px;
        line-height: 32px;
      }
      &:hover {
        .logo-no-color {
          opacity: 0;
          @include transition(all 0.3s ease-out);
        }
        .logo-color {
          opacity: 1.0;
          @include transition(all 0.3s ease-out);
        }
      }
    }

    .user-pic {
      width: 30px;
      height: 30px;
      margin-right: 5px;
      @include filter(grayscale(80%));
      @include transition(all 0.3s ease-out);
    }

    .user-points {
      margin-left: 5px;
      @include transition(all 0.3s ease-out);
    }

    .nav-item:hover {
      .user-pic {
        @include filter(grayscale(0%));
        @include transition(all 0.3s ease-out);
      }

      .user-points {
        background-color: $flowBlue;
        @include transition(all 0.3s ease-out);
      }
    }

    .nav .divider-vertical {
      height: 54px;
    }

    .nav li {
      line-height: 25px;
      .nav-item {
        border-top: 3px solid transparent;
        color: $font-color;
        text-shadow: none;
        @include transition(all 0.3s ease-out);

        &:hover {
          @include transition(all 0.3s ease-out);
          border-top: 3px solid $flowBlue;
          color: $flowBlue;
        }
      }
      &.active a {
        @include box-shadow(none);
        background-color: transparent;
        border-top: 3px solid #444;
      }
    }
  }
}


#social-media-actions {
  float: left;
  width: 200px;
  margin-top: 18px;
  margin-left: 20px;
}

// NOTE: When changing this, make sure the homepage also looks OK, whose footers
//      uses the same HTML but overrides some CSS
footer {
  margin-top: 50px;
  height: 439px;
  position: relative;

  #footer-text {
    position: absolute;
    right: 0;
    bottom: 40px;
    padding-right: 22px;
    text-align: right;

    $footer-text-color: #222;

    a {
      color: rgba($footer-text-color, 0.8);
      @include transition(all 0.2s ease-out);
      &:hover {
        @include transition(all 0.2s ease-out);
        color: $flowBlue;
        text-decoration: none;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      li {
        list-style-image: none;
        list-style-type: none;
        margin-bottom: 10px;

        &:last-child {
          margin-right: 0;
          padding-right: 0;
          border-right: none;
        }
      }
    }

    #main-links {
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .footer-social-icon {
      float: right;
      padding-left: 7px;
    }

    .mixpanel-logo img {
      margin-top: 50px;
      opacity: 0.6;
    }

    #footer-fine-print {
      $footer-text-color: rgba($footer-text-color, 0.4);
      font-size: 13px;
      margin-top: 10px;
      color: $footer-text-color;

      a {
        color: $footer-text-color;
        &:hover {
          color: $flowBlue;
        }
      }

      #affiliated {
        margin-top: 4px;
      }
    }
  }
}
