@import 'ratings';
@import 'user_course';

.course.well {
  position: relative;

  margin-bottom: 10px;
  @include box-shadow(0 0 0 rgba(0, 0, 0, 0.0));
  @include transition(all 0.2s ease-out);

  &:hover {
    // TODO(david): More crap on hover
    @include box-shadow(0 0 10px rgba(0, 0, 0, 0.1));
    // TODO(david): Should not hardcode #F7F7F7
    @include background(linear-gradient(top, #FCFCFC, #F6F6F6));
    @include transition(all 0.2s ease-out);
    border-color: darken($wellBorderColor, 10%);
  }

  .visible-section {
    // TODO(david): Fix up CSS so visible section is enclosing more (reduce
    //     padding of well as well).
    &:hover {
      cursor: pointer;
    }
  }

  $top: -12px;
  .course-code {
    font-size: 50px;
    float: left;
    margin-right: 8px;
    letter-spacing: -1px;
    font-weight: lighter;
  }

  .course-name {
    float: left;
    font-weight: lighter;
    width: 200px;
    position: relative;
    top: $top;
    font-size: 18px;
    line-height: 20px;
    color: #555;
  }

  .ribbons {
    $ribbon-width: 30px;
    $margin-width: 5px;

    @extend .clearfix;
    position: absolute;
    right: 200px;
    top: 0;
    width: 2*$ribbon-width + $margin-width;
    height: 40px;

    .taken-ribbon {
      @include background(image-url('/static/img/ribbon_blue.png'));
      margin-right: $margin-width;
    }

    .reviewed-ribbon {
      @include background(image-url('/static/img/ribbon_green.png'));
    }

    .reviewed-ribbon, .taken-ribbon {
      float: left;
      display: inline-block;
      color: #FFF;
      background-position: 0 -10px;
      background-repeat: no-repeat;
      width: $ribbon-width;
      height: 40px;

      i {
        padding: 5px 5px;
      }
    }
  }

  .rating-box {
    float: right;
    top: $top;
  }

  .sample-friends {
    opacity: 0.7;
    @include transition(all 0.2s ease-out);
  }

  &:hover .sample-friends {
    @include transition(all 0.2s ease-out);
    opacity: 1.0;
  }

  .sample-friends {

    $friend-pic-size: 30px;
    $friend-pic-margin: 3px;
    $friend-info-width: 120px;
    $num-sample-friends: 3;

    @extend .clearfix;
    margin-top: -3px;

    display: inline-block;
    float: right;
    margin-right: 10px;
    top: -5px;
    position: relative;

    .friends-taken-title {
      font-weight: bold;
      font-size: 15px;
      float: left;
      margin-bottom: 2px;
    }

    > .friend-collection {
      float: right;
      list-style: none;
      margin-left: 0;

      .friend-pic {
        display: inline-block;
        margin-right: $friend-pic-margin;
        width: $friend-pic-size;
        height: $friend-pic-size;
      }
    }

    .remaining-friends {
      clear: both;
      display: block;
      margin-left: 3px;
      font-size: 15px;
      line-height: 15px;
      position: relative;
    }

    .remaining-friends {

      color: #333;

      // TODO(mack): make width dependent on number of friends, probably gotta do in js
      // since max-width doesn't seem to work
      $friends-per-row: 5;
      $friend-margin: 2px;
      $border-width: 1px;
      $friend-collection-width: $friends-per-row*$friend-pic-size + 2*($friends-per-row*$friend-margin + $border-width);
      $padding-horizontal: 4px;
      .popover {
        width: $friend-collection-width + 2*$padding-horizontal;
        cursor: default;
        text-align: left;

        .popover-inner {
          border-width: $border-width;

          .popover-title {
            display: none;
          }

          .popover-content {
            padding: $padding-horizontal;
            .friend-collection {
              width: $friend-collection-width;
              list-style: none;
              margin-left: 0;
              .friend-pic {
                display: inline-block;
                margin: $friend-margin;
                width: $friend-pic-size;
                height: $friend-pic-size;
              }
            }
          }
        }
      }
    }
  }

  .course-inner {
    @extend .clearfix;
    margin-top: 20px;
    margin-bottom: 0;
    clear: both;
  }

  .description {
  }

  .terms-offered {
  }

  .ratings {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  // TODO(david): Use speech bubble for these pull quotes.
  .course-tip {
    margin-right: 2%;
  }

  .user-review-box {
    margin-top: 10px;
    padding-right: 15px;
  }

  .more-info {
    margin-bottom: 0;
    min-height: 0;
  }
}
