@import 'ratings';
@import 'user_course';

.course.well {
  position: relative;
  padding: 0;
  $inner-padding: 18px;

  margin-bottom: 10px;
  @include box-shadow(0 0 0 rgba(0, 0, 0, 0.0));

  &:hover {
    // TODO(david): More crap on hover
    @include box-shadow(0 0 10px rgba(0, 0, 0, 0.1));
    // TODO(david): Should not hardcode #F7F7F7
    @include background(linear-gradient(top, #FCFCFC, #F2F2F2));
    border-color: darken($wellBorderColor, 10%);
  }

  .visible-section {
    // TODO(david): Fix up CSS so visible section is enclosing more (reduce
    //     padding of well as well).
    &:hover {
      cursor: pointer;
    }
    padding: $inner-padding;
  }

  $top: -12px;
  .course-code {
    font-size: 50px;
    float: left;
    margin-right: 8px;
    letter-spacing: -1px;
    font-weight: lighter;
  }

  .course-name {
    float: left;
    font-weight: lighter;
    width: 200px;
    position: relative;
    top: $top;
    font-size: 18px;
    line-height: 20px;
    color: #555;
  }

  .ribbons {
    $ribbon-width: 30px;
    $margin-width: 5px;

    @extend .clearfix;
    position: absolute;
    right: 240px;
    top: 0;
    height: 40px;

    .current-user-ribbon {
      @include background(image-url('/static/img/ribbon_green.png'));
      margin-right: $margin-width;
    }

    .profile-user-ribbon {
      @include background(image-url('/static/img/ribbon_blue.png'));
    }

    .current-user-ribbon, .profile-user-ribbon {
      display: inline-block;
      margin-top: -1px;
      background-repeat: no-repeat;
      background-position: 0 -15px;
      width: $ribbon-width;
      height: 40px;

      // TODO(mack): apply non-linear change to ribbon color as we change
      // review level
      $num-review-levels: 5;
      $base-opacity: 0.3;
      @for $i from 0 through $num-review-levels - 1 {
        &.reviewed-#{$i} {
          $curr-grayscale: 1.0 - $i/($num-review-levels - 1);
          $curr-opacity: $base-opacity + (1.0 - $base-opacity) * $i/($num-review-levels - 1);

          // TODO(mack): remove -webkite prefix
          -webkit-filter: grayscale($curr-grayscale);
          opacity: $curr-opacity;
        }
      }

      i {
        font-size: 16px;
        color: #FFF;
        margin: 5px;
      }
    }
  }

  .rating-box {
    float: right;
    top: $top;
  }

  .voting {
    visibility: hidden;
    float: right;
    top: $top;
    position: relative;
    margin-right: 5px;
  }
  &:hover .voting {
    visibility: visible;
  }

  .sample-friends {
    opacity: 0.7;
  }

  &:hover .sample-friends {
    opacity: 1.0;
  }

  .sample-friends {

    $friend-pic-size: 30px;
    $friend-pic-margin: 3px;
    $friend-info-width: 120px;
    $num-sample-friends: 3;

    @extend .clearfix;
    position: absolute;
    right: 120px;
    top: 12px;

    display: inline-block;
    float: right;
    margin-top: -3px;
    margin-right: 10px;

    .friends-taken-title {
      font-weight: bold;
      font-size: 15px;
      float: left;
      margin-bottom: 2px;
    }

    > .friend-collection {
      float: right;
      list-style: none;
      margin-left: 0;

      .friend-pic {
        display: inline-block;
        margin-right: $friend-pic-margin;
        width: $friend-pic-size;
        height: $friend-pic-size;
      }
    }

    .remaining-friends {
      clear: both;
      display: block;
      margin-left: 3px;
      font-size: 15px;
      line-height: 15px;
      position: relative;
    }

    .remaining-friends {

      color: #333;

      // TODO(mack): make width dependent on number of friends, probably gotta do in js
      // since max-width doesn't seem to work
      $friends-per-row: 5;
      $friend-margin: 2px;
      $border-width: 1px;
      $friend-collection-width: $friends-per-row*$friend-pic-size + 2*($friends-per-row*$friend-margin + $border-width);
      $padding-horizontal: 4px;
      .popover {
        width: $friend-collection-width + 2*$padding-horizontal;
        cursor: default;
        text-align: left;

        .popover-inner {
          border-width: $border-width;

          .popover-title {
            display: none;
          }

          .popover-content {
            padding: $padding-horizontal;
            .friend-collection {
              width: $friend-collection-width;
              list-style: none;
              margin-left: 0;
              .friend-pic {
                display: inline-block;
                margin: $friend-margin;
                width: $friend-pic-size;
                height: $friend-pic-size;
              }
            }
          }
        }
      }
    }
  }

  .add-course-btn, .remove-course-btn {
    display: none;
  }

  &:hover {
    .add-course-btn, .remove-course-btn {
      display: inline;
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0.4;

      &:hover {
        opacity: 1.0;
      }
    }
    .add-course-btn {
      color: $green;
    }
    .remove-course-btn {
      color: $gray;
    }
  }

  .course-inner {
    @extend .clearfix;
    margin-bottom: 0;
    clear: both;
    padding: $inner-padding;
    padding-top: 0;
  }

  .ratings {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  // TODO(david): Use speech bubble for these pull quotes.
  .course-tip {
    margin-right: 2%;
  }

  .user-review-box {
    margin-top: 10px;
    padding-right: 15px;
  }

  .more-info {
    margin-top: 10px;
    margin-bottom: 0;
    min-height: 0;
  }
}

.course-inner {
  .terms-offered {
    .fall {
      background-color: $orange;
    }
    .winter {
      background-color: $blue;
    }
    .spring {
      background-color: $green;
    }

    .fall, .winter, .spring {
      opacity: 0.2;
      -webkit-filter: grayscale(1.0);
      &.offered {
        opacity: 1.0;
        -webkit-filter: none;
      }
    }

    margin-bottom: 5px;
  }
}
