.course {
  .course-title {
    font-weight: bold;
    font-size: 1.5em;
    display: inline-block;

    .course-id {
    }
    .course-name {
    }
  }

  .rating {
    display: inline-block;
  }

  .num-ratings {
    display: inline-block;
  }

  .num-friends {
    display: inline-block;
  }

  .expand-section {
  }
}
