#friend-sidebar-container {

  @extend .clearfix;
  float: left;

  .friend-sidebar {
    .num-friends {
      font-size: 24px;
      font-weight: bold;
    }

    .invite-friends-btn {
      .icon-facebook {
        padding: 0 4px;
        border: 1px solid rgba(255, 255, 255, 0.4);
        margin-right: 3px;
      }
      .icon-star {
        margin-left: 7px;
        color: #444;
        @include text-shadow(1px 1px 0 rgba(255, 255, 255, 0.5));
        &.fill {
          color: #ffff00;
        }
      }
    }

    .friend-collection {
      list-style: none;
      margin: 15px 0px;

      .friend {
        @extend .clearfix;

        $friend-pic-width: 50px;
        margin-bottom: 10px;

        .friend-pic {
          float: left;
          width: $friend-pic-width;
          height: $friend-pic-width;
        }

        .friend-info {
          float: left;
          padding-left: 10px;

          .friend-name {
            display: block;
          }
          .mutual-courses {
            display: block;
          }
        }

        .friend-name, .mutual-courses {
          position: relative;

          .popover {

            // Some overrides because this element appears inside of an
            // anchor
            cursor: default;
            color: $textColor;

            .friend-hovercard, .mutual-courses-hovercard {

              @extend .clearfix;
              $mini-course-width: 350px;
              $mini-course-padding: 10px;
              width: $mini-course-width + 2*$mini-course-padding;

              .mini-courses {
                width: 350px;
                padding: $mini-course-padding;

                .mini-course {
                  position: relative;
                  margin-top: 3px;
                  .course-code {
                    font-size: 20px;
                  }
                  .course-name {
                    font-size: 20px;
                  }
                }
              }
            }

            .friend-hovercard {
              .mini-course {
                padding-left: 23px;
                .mutual-taking {
                  color: $green;
                  display: inline-block;
                  position: absolute;
                  left: 0px;
                  // Bootstrap screws up setting width of tooltip, so gotta
                  // hardcode a reasonable value
                  .tooltip-inner {
                    width: 150px;
                  }
                }
              }

              .view-profile {
                float: right;
                padding: 0 10px 10px 0;
              }
            }

            .mutual-courses-hovercard {
              max-height: 250px;
            }

          }
        }
      }
    }

    .invite-friends-btn {
      display: inline-block;
      @include border-radius(3px);
      margin-top: 15px;
    }
  }
}

