#friend-sidebar-container {

  @extend .clearfix;
  float: left;

  .friend-sidebar {
    .num-friends {
      font-size: 24px;
      font-weight: bold;
    }

    .friend-collection {
      list-style: none;
      margin: 15px 0px;

      .friend {
        @extend .clearfix;

        $friend-pic-width: 50px;
        margin-bottom: 10px;

        .friend-pic {
          float: left;
          width: $friend-pic-width;
          height: $friend-pic-width;
        }

        .friend-info {
          float: left;
          padding-left: 10px;

          .friend-name {
            display: block;
          }
          .mutual-courses {
            display: block;
          }
        }

        .friend-pic, .friend-name, .mutual-courses {
          position: relative;

          .popover {

            // Some overrides because this element appears inside of an
            // anchor
            cursor: default;
            color: $textColor;

            .friend-hovercard, .mutual-courses-hovercard {

              @extend .clearfix;
              width: 350px;

              .mini-courses {
                width: 350px;
                padding: 10px;

                .mini-course {
                  margin-top: 3px;
                  .course-code {
                    font-size: 20px;
                  }
                  .course-name {
                    font-size: 20px;
                  }
                }
              }
            }

            .friend-hovercard {
              .view-profile {
                float: right;
                padding: 0 10px 10px 0;
              }
            }

            .mutual-courses-hovercard {
              max-height: 250px;
            }

          }
        }
      }
    }

    .invite-friends-btn {
      display: inline-block;
      @include border-radius(3px);
    }
  }
}

