header {
  margin-bottom: 40px;
}

.personal-info {
  .name {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .program {
    margin-bottom: 0;
    color: #666;
  }
}

#profile-container {
  h1 {
    border-bottom: 1px solid #DDD;
    padding-bottom: 5px;
    margin-bottom: 18px;
  }
}
