@import 'review';

.expandable-prof {

  .prof-picture {
    float: left;
    width: 30%;
    opacity: 0.8;
    @include transition(all 0.2s ease-out);
  }

  &:hover .prof-picture {
    @include transition(all 0.2s ease-out);
    opacity: 1.0;
  }

  .prof-info {
    float: left;
    margin-left: 20px;
    width: 60%;
    display: inline-block;

    .prof-name {
      line-height: 24px;
      margin-bottom: 10px;
    }

    .dept-name {
      font-weight: lighter;
    }

    .dl-horizontal {
      dt {
        width: 50px;
      }
      dd {
        margin-left: 70px;
      }
    }
  }

  .prof-rating-container .rating-box {
    float: right;
    margin-bottom: 10px;
  }

}
