.navbar {

  .raffle-unlock {
    @include box-sizing(border-box);
    overflow: hidden;
    position: absolute;
    // TODO(mack): move positioning into navbar's css
    left: 20%;
    width: 45%;

    height: 50px;
    padding: 5px 15px;

    .header-text {
      @extend .clearfix;

      .countdown {
        float: left;
        font-size: 13px;
        .remaining-time {
        }
      }

      .unlock-requirements {
        float: right;
        font-size: 13px;
        margin-bottom: 2px;
      }
    }

    &:hover {
      height: auto;
      background-color: #fff;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
      padding-bottom: 15px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

      .details {
        visibility: visible;
      }
    }

    $innerWidth: auto;

    .progress-container {
      position: relative;

      .progress {
        position: relative;
        margin-bottom: 0;
        width: $innerWidth;

        @include background(linear-gradient(top, #EDEDED, #F4F4F4));
        @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.3));

        .bar {
          width: 0;
          @include transition(width 2.0 linear 0);
        }

        .bar-incomplete {
          top: 0;
          height: 100%;
          position: absolute;
          background-color: rgba(255, 255, 255, 0.5);
        }
      }

      .tick {
        position: absolute;
        border-right: 1px #DDD solid;
        height: 25px;
        top: 0;
        z-index: 1;

        &.initial {
          top: -6px;
          height: 30px;
        }
      }

      .total-points {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 14px;
      }
    }

    .details {
      @extend .clearfix;
      visibility: hidden;
      position: relative;
      margin-top: 5px;

      .prizes {
        height: 80px;

        .prize {
          position: absolute;
          height: 60px;

          .name {
            font-size: 14px;
            color: #aaa;
            margin-bottom: 10px;
          }

          &.card .pic {
            // TODO(mack): Resize image
            background: url("/static/img/gift_card.jpg");
            background-size: 50px 32px;
            width: 50px;
            height: 32px;
          }

          &.kindle .pic {
            // TODO(mack): host image locally
            background: url("/static/img/kindle.jpg");
            background-size: 32px 46px;
            width: 32px;
            height: 46px;
          }

          &.nexus-7 .pic {
            background: url("/static/img/nexus_7.png");
            background-size: 28px 46px;
            width: 28px;
            height: 46px;
          }
        }
      }

      .description {
        margin-top: 15px;
        width: $innerWidth;
      }

      .learn-more {
        float: right;
      }
    }
  }
}
