$bar-height: 16px;
$cell-height: 28px;

.ratings {

  @mixin force-height($height) {
    height: $height;
    line-height: $height;
    min-height: $height;
  }

  .row-fluid .rating-name {
    text-align: right;
    @include force-height($cell-height);
    padding-right: 8px;
  }

  .row-fluid .rating-bar-span {
    border-left: 1px solid #CCC;
    @include force-height($cell-height);
    margin-left: 0px;

    .rating-progress.progress {
      opacity: 0.7;
      @include border-radius(0 4px 4px 0);
      @include background-image(linear-gradient(top, #e2e2e2, #f3f3f3));
      @include force-height($bar-height);
      margin-top: $cell-height / 2 - $bar-height / 2;

      .rating-bar.bar {
        @include force-height($bar-height);
        &:last-child {
          @include border-radius(0 4px 4px 0);
        }
      }
    }
  }

  .row-fluid .rating-num-span {
    @include force-height($cell-height);
    text-align: left;
  }

  .row-fluid .rating-count-span {
    @include force-height($cell-height);
    font-weight: lighter;
    text-align: right;
  }

}

.rating-box {
  $rating-size: 30px;
  $margin-height: 5px;
  $num-size: 11px;

  position: relative;
  text-align: center;
  line-height: $rating-size + $margin-height + $num-size;
  width: 52px;

  .rating {
    font-size: $rating-size;
    line-height: $rating-size;
    margin-bottom: $margin-height;

    .percent {
      font-size: 56%;
    }
  }
  .num-ratings {
    font-size: $num-size;
    line-height: $num-size - 3px;
    top: -3px;
    font-weight: normal;
    position: relative;
  }
}

$rating-button-height: 27px;
.rating-choices {
  .btn {
    line-height: $rating-button-height;
    height: $rating-button-height;
    font-size: 16px;
    padding: 0 8px;

    &.active {
      opacity: 1.0;
    }

    .thumb-icon {
      display: inline-block;
      width: 18px;
      text-align: center;
    }

    .editable &:hover .thumb-icon,
    &.active .thumb-icon, {
      font-size: 20px;
    }
  }
}

.rating-choice {
  margin-bottom: 2px;
  line-height: $rating-button-height;
}


$vote-button-height: 22px;
.voting {
  .btn {
    opacity: 0.5;
    line-height: 10px;
    height: $vote-button-height;
    font-size: 16px;
    padding: 0 2px;
    margin-bottom: 2px;

    &:hover, &.active {
      opacity: 0.7;
    }

    .thumb-icon {
      display: inline-block;
      width: 18px;
      text-align: center;
    }

    &:hover .thumb-icon,
    &.active .thumb-icon, {
      font-size: 18px;
    }
  }
}
