@import 'comment';

.review-post {
  margin-top: 15px;

  .ratings {
    @include transform(scale(0.9));
  }
}

.comment-vote {
  font-size: 14px;
  padding-left: 12px;
  margin: 10px 0px 15px 0px;
}

.helpful-review {
  font-size: 14px;
  margin-bottom: 8px;
}

.review-btn {
  border: none;
  color: $textColor;
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 5px;

  &:focus {
    outline: none;
  }
}
