.class-schedule {
    .week {
        background: #ccc;
    }

    .times, .day {
        height: 100%;
        float: left;
    }

    .times {
        background: blue;
    }

    .times .hour-label {
        background: -webkit-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
    }

    .header {
        background: green;
    }

    .schedule-item {
        background: red;
        position: absolute;
    }

    .schedule-item-container {
        position: relative;
    }
}
