@import 'variables';

.class-schedule {
  border: 1px solid $wellBorderColor;
  position: relative;
  background: white;
  @include border-radius(4px);

  // TODO(david): Make this a JS option?
  $hour-width: 80px;

  .section-info {
    color: #666;

    .course-code {
      font-weight: bold;
      color: $textColor;
    }
  }

  .times {
    position: absolute;
    width: 100%;
  }

  .times, .day {
    height: 100%;
    float: left;
  }

  .day {
    border-left: 1px solid $wellBorderColor;
  }

  .day-container {
    height: 100%;
    margin-left: $hour-width;
  }

  .times .hour-row {
    border-top: 1px solid $wellBorderColor;
    position: relative;

    .hour-label {
      padding: 8px;
      text-align: right;
      width: $hour-width;
      display: block;
      @include box-sizing(border-box);
    }

    &:after {
      content: ' ';
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -1px;
      left: $hour-width;
      right: 0;
      border-top: 1px dotted mix($wellBorderColor, white, 70%);
    }
  }

  .header {
    text-align: center;
    font-weight: bold;
    padding: 8px;
  }

  .schedule-item {
    border-width: 1px;
    padding: 4px;
    position: absolute;
    font-size: 14px;
    line-height: 14px;
    box-sizing: border-box;
    border-color: darken($wellBorderColor, 10%);

    .time-loc-info {
      color: #666;
      font-size: 13px;
      line-height: 13px;
    }
  }

  .schedule-item-container {
    position: relative;
    height: 100%;
    border-top: 1px solid $wellBorderColor;
  }

}
