.sections-table {
  margin-bottom: 0;
  background: white;

  th {
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: none;

    &:first-child {
      border-left: 1px solid #DDD;
    }
  }

  td {
    padding-top: 4px;
    padding-bottom: 4px;
    border-left: none;

    p {
      margin-bottom: 2px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .day-true {
      color: #333;
      font-weight: bold;
    }

    .day-false {
      color: #DDD;
    }

    &.enrollment {
      span {
        display: inline-block;
      }

      .enrollment-total {
        min-width: 24px;
      }
    }

    .meeting-time {
      display: inline-block;
      min-width: 137px;
    }
  }

  // Sass is freaking magic. Generate color codes to distinguish sections.
  $section-colors: section-blue $blue, section-green $green, section-red $red,
      section-yellow $yellow, section-orange $orange, section-purple $purple,
      section-gray $gray;

  @each $color-pair in $section-colors {
    $name: nth($color-pair, 1);
    $color: nth($color-pair, 2);

    .#{$name} td:first-child {
      border-left: 4px solid mix($color, #DDD, 20%);
      background-color: mix($color, white, 3%);
    }
  }

  .full td {
    background-color: #f4f4f4;
    color: #AAA;

    .day-true {
      color: #AAA;
      font-weight: bold;
    }
  }
}

.last-updated {
  padding-top: 7px;
  display: block;
}
