.fb-login-button {
  $button-height: 50px;

  display: inline-block;
  @include border-radius(5px);
  background-color: #AEACAC;
  @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  @include background-image(linear-gradient(top, #5575AF, #355997));
  height: $button-height;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: center;
  opacity: 0.8;
  @include transition(all 0.2s ease-out);
  margin-bottom: 10px;

  // Fixes an issue where hovering over a non 1.0-opacity element causes
  // Chrome to wobble by a pixel: http://stackoverflow.com/a/16833496/392426
  -webkit-backface-visibility: hidden;

  &:hover {
    @include transition(all 0.2s ease-out);
    @include box-shadow(0 0 20px rgba(0, 0, 0, 0.4));
    opacity: 1.0;
    cursor: pointer;

    .fb-login-text {
      @include text-shadow(0 0px 10px rgba(255, 255, 255, 0.5));
    }
  }

  .fb-logo-box {
    border-radius: 5px 0 0 5px;
    @include background-image(linear-gradient(top, #3B5D9B, #29416E));
    float: left;
    line-height: $button-height - 1;
    height: $button-height;
    width: $button-height;

    .fb-logo-f {
      height: 30px;
      width: 15px;
    }
  }

  .fb-login-text {
    padding: 0 15px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    text-shadow: 0 1px 0 rgba(20, 20, 20, .5);
    text-align: center;
    line-height: $button-height - 1;
  }
}

.fb-facepile {
  width: 350px;
  height: 51px;
  overflow: hidden;
}

#sign-in-banner-container {
  $banner-height: 80px;
  height: $banner-height;
  display: none;

  .sign-in-banner {
    display: block;
    z-index: 100;
    width: 100%;
    height: $banner-height;
    background: mix($flowBlue, white, 80%);

    .close-banner {
      display: inline-block;
      font-size: 50px;
      opacity: 1;
      opacity: 0.5;
      position: absolute;
      right: 15px;
      color: white;
      top: 86px;

      &:hover {
        cursor: pointer;
        opacity: 1.0;
      }
    }

    .message {
      font-size: 24px;
      font-weight: 300;
      display: inline-block;
      vertical-align: top;
      height: $banner-height;
      line-height: 30px;
      margin-top: 10px;
      // This is sort of a hack so that the FB button does not drop when the
      // browser window is shrunk, but rather just covers part of the text....
      position: absolute;
      color: white;
    }

    .fb-login {
      display: inline-block;
      float: right;
      margin-top: 15px;
    }

    .fb-login-button-container {
      display: inline-block;
      position: relative;
      text-align: left;

      .fb-login-button {
        opacity: 0.9;
        background: white;

        &:hover {
          opacity: 1.0;
        }

        .fb-logo-box {
          background: $facebookBlue;
        }

        .fb-login-text {
          text-shadow: none;
          color: $facebookBlue;
        }
      }
    }

    .fb-facepile {
      vertical-align: top;
      margin: -2px 0 0 10px;
    }
  }
}

.sign-in-modal {
  width: 470px;
  overflow: hidden;

  .modal-body {
    text-align: center;

    .lead {
      font-size: 20px;
      margin-bottom: 30px;
    }

    .fb-login-text{
      padding: 0 70px;
    }

    .fb-facepile {
      overflow: hidden;
      vertical-align: top;
      margin: -5px 0 0 10px;
      // This aligns it with left edge of facebook connect button
      // TODO(mack): calculate this rather than hardcoding
      left: 15px;
    }
  }
}

.email-signup-modal, .email-login-modal {
  width: 338px;
  margin-left: -169px;

  .content-container {
    display: inline;
    margin: 0 auto;
    text-align: center;

    .modal-body {
      padding: 25px;
    }

    .modal-footer {
      padding: 18px 25px;
    }

    .errors {
      width: 100%;
      @include box-sizing(border-box);
    }

    input {
      margin-bottom: 0px;
    }

    .form-group {
      margin-bottom: 9px;
    }

    .form-control {
      width: 100%;
      @include box-sizing(border-box);
      height: 31px;
    }

    .add-on {
      position: relative;
      z-index: 3;
      @include box-sizing(border-box);
      width: 31px;
      height: 31px;
      padding: 5px 5px;
    }

    .iconed-input {
      margin-left: -28px;
      padding-left: 33px;
    }

    label.error {
      color: #b94a48;
    }
  }
}

.email-signup-modal {
  .signup-form {
    .first-name-input, .last-name-input {
      width: 49%;
    }

    .email-hint {
      text-align: right;
      margin-top: -5px;
      margin-bottom: 12px;
      display: none;
    }
  }

  .login-link {
    float: left;
    margin-top: 13px;

    color: #555;
    font-size: 13px;
    line-height: 1.2;
    text-align: left;
  }

  .signup-form {
    margin-bottom: 0px;
  }

  .signup-btn {
    float: right;
  }
}

.email-login-modal {
  .login-btn {
    font-size: 15px;
    margin-top: 26px;
    padding: 9px 38px;
  }

  .fb-login-text {
    font-size: 20px;
  }

  .divider {
    margin-top: 49px;
    margin-bottom: 19px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

    hr {
      margin-left: auto;
      margin-right: auto;
      width: 40%;
    }

    .divider-text {
      float: left;
      width: 20%;
      margin-top: 9px;
      color: #666;
      font-style: italic;
      font-weight: normal;
    }

    .divider-left {
        float: left;
    }

    .divider-right {
        float: right;
    }
  }

  .signup-link {
    float: left;
    margin-top: 13px;

    color: #555;
    font-size: 13px;
    line-height: 1.2;
    text-align: left;
  }
}
