#took-this-sidebar-container {
  padding-top: 10px;
  padding-bottom: 10px;


  // TODO(david): Duplication of code with friends.scss
  .took-this-sidebar {
    .num-friends {
      margin: 0;
    }

    .took-this-collection {
      list-style: none;
      margin: 15px 0px;

      .took-this {
        @extend .clearfix;

        $pic-width: 50px;
        margin-bottom: 10px;

        .person-pic {
          float: left;
          width: $pic-width;
          height: $pic-width;
        }

        .person-info {
          float: left;
          padding-left: 10px;
        }
      }
    }
  }
}
