@import 'ratings';

.user-course {
  .lead {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .select2-result-css {
    color: red;
  }

  .select2-default {
    // Select2 is dumb for using !important
    color: inherit !important;
  }

  .select2-container .select2-choice {
    background: none;
    border: 1px solid rgba(0, 0, 0, 0);
    font-weight: bold;
    padding-left: 3px;
    box-shadow: none;
    @include transition(all 0.2s ease-out);

    div, .select2-search-choice-close {
      opacity: 0;
      @include transition(opacity 0.2s ease-out);
    }
  }

  .select2-container:hover .select2-choice,
  .select2-container.select2-dropdown-open .select2-choice {
    border: 1px solid #AAA;
    @include box-shadow(0 1px 0 #FFF inset);
    background-color: rgba(255, 255, 255, 0.5);
    @include transition(all 0.2s ease-out);

    div, .select2-search-choice-close {
      opacity: 1.0;
      @include transition(opacity 0.2s ease-out);
    }
  }

  .term {
    font-weight: bold;
  }

  .prof-select {
    width: 240px;
    margin-left: -3px;
  }

  .add-review {
    float: right;
  }

  .prof-question {
    margin-top: 15px;
  }

  .submit-bar {
    .privacy-msg {
      display: inline-block;
      margin-bottom: 0;
      padding-top: 0px;
      padding-bottom: 0px;

      .dropdown {
        text-shadow: none;
        .dropdown-toggle {
          padding-left: 4px;
          padding-right: 4px;
        }
      }

      .privacy-tip {
        float: none;
        display: inline-block;
      }
    }
  }

  .save-error-msg {
    padding-left: 10px;
  }

}

.user-comment {
  .comments {
    // TODO(david): Fix :focus box-shadow ugliness overlapping submit bar
    width: 100%;
    @include box-sizing(border-box);
  }

  &.course-comment .comments {
    min-height: 92px;
  }
  &.prof-comment .comments {
    min-height: 60px;
  }

  .submit-bar {
    position: relative;
    top: -47px;
    margin-bottom: -38px;
    border-color: #CCC;
    border-top: 1px solid #DDD;
    padding-top: 0;
    padding-bottom: 0;
    @include border-radius(0 0 3px 3px);

    .save-review {
      height: 28px;
      margin-top: -3px;
    }

    .share-review {
      height: 28px;
      margin-top: -3px;
    }
  }

  .comments:focus + .well.submit-bar {
    // TODO(david): Don't hardcoe. Get from Bootstrap.
    border-color: rgba(82, 168, 236, 0.8);
    border-top: 1px solid #DDD;
  }
}

.review-modal {
  $modal-width: 880px;
  left: 50%;
  width: $modal-width;
  margin-left: -$modal-width / 2;

  .modal-header {
    padding-bottom: 8px;  // TODO(david): Why do some course names take more room?
    padding-top: 14px;
  }

  .greeting {
    float: left;
    margin-right: 14px;
    font-weight: normal;
  }

  // TODO(david): Copy-pasted from course.scss
  .course-code {
    font-size: 50px;
    float: left;
    margin-right: 8px;
    letter-spacing: -1px;
    font-weight: lighter;
    color: $textColor;
    margin-top: 6px;
  }

  .course-name {
    float: left;
    font-weight: lighter;
    width: 270px;  // TODO(david): Dynamically change width on course code width
    position: relative;
    top: -5px;
    font-size: 18px;
    line-height: 20px;
    color: #555;
  }

  .cancel-review-modal {
    color: #999;
    float: left;
  }
}
