.user-course {

  .term {
    font-weight: bold;
  }

  .prof-select {
    width: 180px;
  }

  .add-review {
    float: right;
  }

  .comments {
    width: 100%;
    min-height: 70px;
  }

  .review-details {
    margin-top: 10px;
    &.show-review {
      display: block;
    }
  }

  .save-error-msg {
    padding-left: 10px;
  }

}
