////////////////////////////////////////////////////////////////////////////////
// Bootstrap overrides

$sansFontFamily:        "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif;

$baseFontSize:          16px;
$baseFontFamily:        $sansFontFamily;
$baseLineHeight:        18px;
$altFontFamily:         $serifFontFamily;

$headingsFontFamily:    inherit; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    bold;    // instead of browser default, bold
$headingsColor:         inherit; // empty to use BS default, $textColor
$textColor:             #555;

$fontAwesomePath: "/static/font/fontawesome-webfont";

// TODO(david) FIXME: Need color scheme!!!!!!!!!!
