@import 'ext/bootstrap-2.1.1/variables';

////////////////////////////////////////////////////////////////////////////////
// Bootstrap overrides

$sansFontFamily:        "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif;

$baseFontSize:          16px;
$baseFontFamily:        $sansFontFamily;
$baseLineHeight:        18px;
$altFontFamily:         $serifFontFamily;

$headingsFontFamily:    inherit; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    bold;    // instead of browser default, bold
$headingsColor:         inherit; // empty to use BS default, $textColor
$textColor:             #444;
$grayDark:              #555;
$grayDarker:              #444;

$fontAwesomePath: "/static/font/fontawesome-webfont";

// TODO(david) FIXME: Need color scheme!!!!!!!!!!

////////////////////////////////////////////////////////////////////////////////
// Select2 overrides

$select2png: '/static/img/ext/select2/select2.png';
$select2x2png: '/static/img/ext/select2/select2x2.png';
$spinnergif: '/static/img/ext/select2/spinner.gif';

////////////////////////////////////////////////////////////////////////////////
// Our variables

$wellBorderColor:  #DDD;
$flowBlue: #0A93B5;

$navbar-height: 54px;

