@import 'base';

header {
  // TODO(david): This number is repeated a lot of places.
  margin-bottom: 20px;
}

#about-container {
  max-width: 900px;
  margin: auto;

  .team-intro {
    padding-bottom: 30px;
  }

  .bio-row {
    margin-bottom: 30px;
    border-bottom: 1px solid #DDD;
    padding-bottom: 30px;
  }

  .card-info {
    padding-left: 20px;
    font-size: 18px;
    line-height: 19px;

    .name {
      margin-top: -8px;
      margin-bottom: 5px;
    }

    .program {
      margin-top: 0;
      color: #777;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 22px;
      margin-bottom: 15px;
      font-weight: lighter;
    }

    .links {
      .link {
        padding-right: 30px;
      }
      margin-bottom: 15px;
    }
  }

  .sponsors-heading {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .sponsor-description {
    font-size: 18px;
    padding-left: 30px;
    line-height: 19px;
  }

}
