@import 'base';

#backfill-schedules-btn {
}

button.btn {
  margin: 0px 4px 10px 0px;
}

#logger {
  margin-top: 20px;
  height: 400px;
  overflow: auto;

  .indent {
    padding-left: 20px;
    &:before {
      content: "> ";
    }
  }
}
