@import 'base';
@import 'term';
@import 'course';
@import 'took_this';
@import 'prof';
@import 'sign_in';
@import 'exam';

.course-header {
  margin-top: 20px;

  // TODO(david): Does it actually make sense to have inconsistent title styling?
  .page-title {
    font-size: 60px;
  }

  #rating-box-container .rating-box {
    float: right;
    width: 105px;
    height: 80px;
    margin-top: 5px;

    .rating {
      font-size: 55px;
      line-height: 55px;
    }

    .num-ratings {
      font-size: 14px;
      line-height: 14px;
      top: 0px;
    }
  }
}

.user-review-box {
  margin-top: 10px;
}
