@import 'base';

header {
  padding-top: 15px;
}

.stats-row {
  text-align: center;
  padding-bottom: 40px;
  font-size: 50px;
  line-height: 70px;

  .stats-title {
    font-size: 40px;
    color: #888888;
  }
}

.reviews {
  .review {
    margin-bottom: 20px;
    line-height: 20px;

    .review-course-id {
      font-size: 20px;
    }

    .review-type {
      font-size: 12px;
      display: inline-block;
    }

    .review-date {
      font-size: 12px;
      display: inline-block;
    }
  }
}

#last_updated {
  text-align: right;
}
