@import 'base';
@import 'sign_in';

#landing-header {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  overflow: hidden;
  padding: 0;
  background-color: white;
  min-width: 700px;

  .header-bg {
    opacity: 0;
    @include background(url(/static/img/header_uw_entrance.jpg) no-repeat top right fixed);
    background-size: cover;
    display: block;
    height: 100%;
    @include transition(opacity 800ms cubic-bezier(0.51, 0.01, 0.37, 0.98) 100ms);
    @include transform(translate3d(0, 0, 0));
  }

  .sign-up-box {
    z-index: 10;
    position: absolute;
    top: 45%;
    margin-top: -155px;
    padding: 20px 40px;
    padding-bottom: 25px;
    right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 500px;
    opacity: 0;
    color: #333;

    .welcome {
      font-size: 40px;
    }

    .tagline-orig {
      color: #222;
    }

    .tagline {
      color: #222;
      font-size: 26px;
    }

    .permission-text {
      margin-top: -6px;
      margin-bottom: 8px;
      color: #555;
      font-size: 15px;
    }

    .sign-up-content {
      @include transform(translate3d(50px, 0, 0));
    }

    &.animated {
      opacity: 1;
      z-index: 3;
      background: rgba(255, 255, 255, 0.6);
      @include transition(all 800ms cubic-bezier(0.51, 0.01, 0.37, 0.98) 100ms);

      .sign-up-content {
        @include transform(translate3d(0, 0, 0));
        @include transition(all 800ms cubic-bezier(0.51, 0.01, 0.37, 0.98) 100ms);
      }
    }
  }

}

body {
  @include background(none);
}


footer {
  $footer-width: 376px;

  display: block;
  position: fixed;
  width: $footer-width;
  left: 50%;
  margin-left: -$footer-width / 2;
  margin-top: 0;
  bottom: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  height: auto;
  border-top-radius: 3px;

  &:before {
    display: none;
  }

  #footer-text {
    position: relative;

    padding-top: 13px;
    padding-left: 0;
    font-size: 14px;
    bottom: 0;

    ul {
      list-style: none;
      li {
        list-style-image: none;
        list-style-type: none;
        display: inline-block;
        border-right: 1px solid rgba(40, 40, 40, 0.6);
        padding-right: 10px;
        margin-right: 10px;
        letter-spacing: 3px;

        &:last-child {
          margin-right: 0;
          padding-right: 0;
          border-right: none;
        }
      }
    }

    .mixpanel-logo {
      position: fixed;
      right: 10px;
      bottom: 27px;
      text-align: right;
    }

    #footer-fine-print {
      display: none;
    }
  }
}

#photo-credit {
  position: fixed;
  bottom: 5px;
  right: 10px;
  display: block;
  color: rgba(#FFF, 0.6);
  margin-top: 5px;
  font-size: 12px;
}
