@import 'base';

#landing-header {
  background: #dd8888;
  text-align: center;
  &.hero-unit {
    @include border-radius(0px);
  }
}

footer #landing-footer-text {
  padding-top: 30px;
  text-align: center;
}
