@import 'base';

#landing-header {
  //background: #dd8888;
  @include background(url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/retina_wood.png));
  text-align: center;
  &.hero-unit {
    @include border-radius(0px);
  }
  @include box-shadow(0 3px 9px -2px rgba(0, 0, 0, 0.5));
  h1 {
    font-size: 100px;
    color: rgba(0, 0, 0, 0.6);
  }
  .fb-login-button {
    padding-top: 50px;
  }
}


#steps {
  p {
    font-size: 50px;
    line-height: 50px;
    color: #444;
  }
  .row-fluid {
    margin-bottom: 60px;
    background: url(/static/img/homepage_section_divider.png) top center no-repeat;
    padding-top: 80px;
    &:first-child {
      background: none;
      padding-top: 0px;
    }
  }
}

footer #landing-footer-text {
  padding-top: 30px;
  text-align: center;
}
