@import 'base';

.kittens-container {
  max-width: 900px;
  margin: auto;
}

.kittens-title {
  padding-top: 20px;
}

.kittens-intro {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 300;
  margin-bottom: 40px;
}

.kitten-card {
  float: left;
  width: 165px;
  height: 200px;
  padding: 5px;
  margin-bottom: 10px;

  .caption {
    margin-top: 5px;
    font-size: 14px;
  }
}
