@import 'base';
@import 'fav_course';

header {
  margin-bottom: 40px;
}

.welcome-title {
  vertical-align: bottom;
  font-size: 79px;
  line-height: 62px;
  margin-bottom: 34px;
  margin-top: 0;
}

// TODO(Sandy): Cleanup this file. Mostly copied from profile_page
#onboarding-container {
  text-align: left;
  float: none;

  .step {
    font-size: 18px;
  }

  #transcript-instructions {
    text-align: left;
  }

  #transcript-text {
    width: 100%;
    border-sizing: box-border;
    height: 152px;
    margin-top: 20px;
    font-size: 20px;
    resize: none;
  }

  #laptop-container {
    position: relative;
    background: url(/static/img/mbp-880x559.png);
    width: 880px;
    height: 559px;
    margin-left: -10px;
    margin-top: -10px;

    #transcript-video {
      width: 640px;
      height: 400px;
      z-index: 10;
      position: absolute;
      left: 122px;
      top: 66px;
    }

  }

  #manual-course-import-container {
    float: left;
  }

  #manual-course-import-modal {
    p {
      margin-bottom: 14px;
      font-size: 22px;
      line-height: 24px;
    }
  }

  #transcript-disclaimer {
    text-align: left;
    font-size: 18px;
    line-height: 20px;
  }

  #onboarding-skip-container {
    text-align: right;
  }

  #transcript-remove-text {
    float: right;
  }

  #transcript-error {
    color: #ff0000;
  }
}
