@import 'base';

// TODO(Sandy): Cleanup this file. Mostly copied from profile_page
header {
  margin-bottom: 40px;
}

.well {
  padding: 40px;
  box-sizing: border-box;
}

.personal-info {
  .name {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .program {
    margin-bottom: 0;
    color: #666;
  }
}

.divider {
  border-top: 1px solid #CCC;
  margin: 22px 0;
}

#onboarding-container {
  text-align: left;
  float: none;

  .step {
    font-size: 18px;
  }

  #transcript-instructions {
    text-align: left;
  }

  #laptop-container {
    position: relative;
    background: url(/static/img/mbp-880x559.png);
    width: 880px;
    height: 559px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;

    #transcript-video {
      width: 640px;
      height: 400px;
      z-index: 10;
      position: absolute;
      left: 122px;
      top: 66px;
    }

  }

  #manual-course-import-container {
    float: left;
  }

  #manual-course-import-modal {
    p {
      margin-bottom: 14px;
      font-size: 22px;
      line-height: 24px;
    }
  }

  .add-transcript {
    @extend .clearfix;

    .transcript-text {
      // TODO(mack): kind of hacky solution to get width to look right
      width: 99%;
      border-sizing: box-border;
      min-height: 130px;
      font-size: 20px;
      resize: none;
    }

    .transcript-disclaimer {
      text-align: left;
      font-size: 18px;
      line-height: 20px;
    }

    .transcript-error {
      color: #ff0000;
    }

    .friends-added-transcript {
      margin-left: 15px;

      h3 {
        margin-top: 0;
      }

      .friend-pic {
        margin-right: 5px;
        margin-bottom: 7px;
        width: 40px;
        height: 40px;
      }

      .mutual-course-text {
        margin-top: 10px;
        font-size: 18px;
      }
    }
  }

  #onboarding-skip-container {
    margin-top: 50px;
    text-align: right;
    color: #999;
  }
}
