@import 'base';

// TODO(Sandy): Cleanup this file. Mostly copied from profile_page
header {
  margin-bottom: 40px;
}

.personal-info {
  .name {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .program {
    margin-bottom: 0;
    color: #666;
  }
}

.divider {
  border-top: 1px solid #CCC;
  margin: 22px 0;
}

#onboarding-container {
  max-width: 1000px;
  text-align: left;
  margin: 0;
  padding: 0;
  float: none;

  .step {
    font-size: 18px;
    //line-height: 20px;
  }

  #transcript-instructions {
    text-align: left;
  }

  #transcript-text {
    width: 100%;
    border-sizing: box-border;
    height: 216px;
    margin-top: 20px;
    font-size: 18px;
    resize: none;
  }

  #transcript-disclaimer {
    text-align: left;
    font-size: 18px;
    line-height: 20px;
  }

  #onboarding-skip-container {
    text-align: right;
  }

  #transcript-remove-text {
    float: right;
  }

  #transcript-error {
    color: #ff0000;
  }
}
