@import 'base';
@import 'term';
@import 'course';
@import 'friend';

#transcript-container {
  #transcript-instructions {
    float: left;
    text-align: right;
    width: 300px;
    margin-right: 40px;
  }
  #transcript-text {
    width: 500px;
    overflow: hidden;
    height: 50px;
  }

  #transcript-error {
    color: #ff0000;
  }
}
