@import 'base';
@import 'term';
@import 'course';
@import 'prof';

.description {
  margin-bottom: 0px;
}

.course-inner {
  .row-fluid {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
  }

  .ratings {
    .row-fluid {
      border: none;
    }
  }
}

.course-header {
  margin-top: 20px;

  .page-title {
    font-size: 60px;
  }

  #rating-box-container .rating-box {
    float: right;
    width: 105px;
    height: 80px;
    margin-top: 5px;

    .rating {
      font-size: 55px;
      line-height: 55px;
    }

    .num-ratings {
      font-size: 14px;
      line-height: 14px;
      top: 0px;
    }
  }
}

.user-review-box {
  margin-top: 10px;
}

.review-post {
  margin-top: 25px;

  .ratings {
    @include transform(scale(0.9));
  }
}

.toggle-tips {
  margin-top: 0px;
  margin-bottom: 15px;
  padding: 10px 0px 10px 20px;
  background-color: rgba(0, 0, 0, 0.06);
  letter-spacing: 3px;
  text-transform: uppercase;
  color: lighten($textColor, 20%);
  z-index: 1;
  border-bottom: 1px solid #ccc;
  @include transition(all 0.2s ease-out);

  &:hover {
    @include transition(all 0.2s ease-out);
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.course .course-content {
  margin-left: 0px;
  margin-top: 20px;
  border-left: none;
  border-right: none;
}

#course-inner-container {
  margin-top: 15px;

  .number-of-courses {
    padding-top: 15px;
    margin-bottom: 0px;
    border-top: 1px solid #dddddd;
    font-size: 28px;
    font-weight: bold;
  }
}

.prof-picture {
  float: left;
  margin-left: 10px;
  display: inline-block;
  padding: 4px;
  width: 30%;
  border: 1px solid #ccc;
}

.course {
  .course-content {
    border-left: none;
    border-right: none;
  }
  &.course.expanded {
    width: 100%;
    left: 0%;
  }
}

.tips-collection {
  padding-bottom: 15px;
}

.all-tips {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

// TODO Jeff: Look to use inheritance below from the course page scss

.prof-info {
  float: left;
  width: 60%;
  display: inline-block;
  position: relative;
}

.dl-horizontal {
  margin-top: 30px;
  dt {
    float: left;
    width: 70px;
    margin-top: 5px;
  }
  dd {
    margin-left: 80px;
    margin-top: 5px;
  }
}
