@import 'base';
@import 'term';
@import 'course';
@import 'friend';
@import 'course_select';

header {
  margin-bottom: 40px;
}

.personal-info {
  .name {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .program {
    margin-bottom: 0;
    color: #666;
  }
}

.divider {
  border-top: 1px solid #CCC;
  margin: 22px 0;
}

#transcript-container {
  #transcript-instructions {
    float: left;
    text-align: right;
    width: 300px;
    margin-right: 40px;
  }
  #transcript-text {
    width: 500px;
    overflow: hidden;
    height: 50px;
  }

  #transcript-remove-text {
    float: right;
  }

  #transcript-error {
    color: #ff0000;
  }
}
