@import 'base';
@import 'term';
@import 'course';
@import 'friend';

header {
  .profile-pic {
    $profile-pic-size: 40px;
    width: $profile-pic-size;
    height: $profile-pic-size;
  }
  margin-top: 20px;
  margin-bottom: 10px;
}

#transcript-container {
  #transcript-instructions {
    float: left;
    text-align: right;
    width: 300px;
    margin-right: 40px;
  }
  #transcript-text {
    width: 500px;
    overflow: hidden;
    height: 50px;
  }

  #transcript-remove-text {
    float: right;
  }

  #transcript-error {
    color: #ff0000;
  }
}
