@import 'variables';

.left-inner-addon {
  position: relative;

  input {
    padding-left: 30px;
  }

  i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
  }
}

.tt-query {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

  .tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
  }
}

.twitter-typeahead {
  width: 100%;

  .tt-hint {
    color: #999
  }
}

.tt-dropdown-menu {
  margin-top: 6px;
  padding: 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  max-height: 250px;
  overflow-y: auto;
  box-sizing: border-box;

  .empty-message {
    text-align: center;

    p {
      padding-top: 5px;
    }
  }
}

.tt-suggestion {
  padding: 5px 0px;

  &.tt-cursor {
    background-color: $flowBlue;

    .suggestion-text {
      color: white;
    }
  }

  .suggestion-text {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
  }

  .primary-title {
    font-size: 18px;
    padding-top: 2px;
    padding-left: 0px;
    color: $textColor;
  }

  .secondary-title {
    font-size: 15px;
    padding-top: 1px;
    padding-left: 0px;
    color: #666;
    font-weight: 300;
  }

   img {
    width: 40px;
    height: 40px;
    margin: 0 9px;
    float: left;
    border-radius: 3px;
  }
}

.unified-search-bar {
  height: 54px;
  float: right;
  margin-right: 10px;
  margin-top: 3px;

  .input-group {
    height: 100%;
    width: 100%;
  }

  .icon-search {
    padding-top: 13px;
    z-index: 1;
  }

  .search-bar {
    height: 38px;
    width: 100%;
    box-sizing: border-box;
  }
}

.twitter-typeahead {
  .tt-input {
    padding-left: 35px;
  }

  .tt-hint {
    padding-left: 35px;
  }
}
