@import 'base';
@import 'course';
@import 'sign_in';
@import 'variables';

header {
  padding-top: 15px;
}

#course-search-container {
  .keywords {
    @include box-sizing(border-box);
    width: 100%;
    padding-bottom: 0;
    line-height: 60px;
    height: 60px;
    font-size: 40px;
  }

  .course-search-form {
    @extend .clearfix;
    margin-top: 10px;

    .sort-options {
      display: inline-block;
      float: none;
      margin-top: -5px;  // TODO(david): Don't hardcode this.
      margin-left: 4px;
    }

    .nav.nav-pills > li > a {
      padding-left: 7px;
      padding-right: 7px;
    }

    .dropdown {
      display: inline-block;
      float: none;
      .dropdown-toggle {
        $side-padding: 3px;
        padding-left: $side-padding;
        padding-right: $side-padding;
      }
    }
  }

  .course-collection {
    list-style: none;
    margin-left: 0px;
  }

  .loader-container {
    text-align: center;
    .loader {
      position: absolute;
      // TODO(mack): use sass so we can set image directory
      display: inline-block;
      background: url('/static/img/bar-loader.gif') no-repeat;
      width: 16px;
      height: 11px;
    }
  }
}
